<header>
  <h1 class="rb-grey80 pl3">Update profile details</h1>
</header>

<%= form_for @user, url: profile_path do |form| %>
  <%= render partial: '/users/form', object: form %>

  <div class="submit-field">
    <%= form.submit 'Update your details', class: "anon-pro b h2 w4 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-purple rb-purple rb-white-hover rb-purple-focus bg-rb-purple-hover shadow-4 no-underline" %>
  </div>

<% end %>
