<header>
  <h1>Update profile details</h1>
</header>

<%= form_for @user, url: profile_path, html: {class: 'standard'} do |form| %>
  <%= render partial: '/users/form', object: form %>

  <div class="buttons">
    <%= form.submit 'Update your details' %>
  </div>

<% end %>
