<header>
  <h1>Update profile details</h1>
</header>

<%= form_for @user, url: profile_path do |form| %>
  <%= render partial: '/users/form', object: form %>

  <div class="submit-field">
    <%= form.submit 'Update your details', class: 'btn' %>
  </div>

<% end %>
