<section>
  <h3>Adelaide Ruby</h3>
  <article>
    <h4>Next Meetup</h4>
    <p>Adelaide.rb meets on the first Tuesday of each month at <a href="http://majoran.co">Majoran.co</a></p>
    <p>Beginners and visitors always welcome.</p>
    <p>For all the latest info, join us at the <a href="http://www.meetup.com/adelaiderb">Adelaide.rb Meetup Group</a></p>
  </article>
  <article>
    <h4>Organiser</h4>
    <p>Chris Teague (<a href="http://twitter.com/chris_teague">@chris_teague</a>)</p>
  </article>
</section>
