<section>
  <h3>Brisbane</h3>
  <article>
    <h4>Brisbane Ruby And Rails Meetup</h4>
    <p>4th Monday of each Month</p>
    <p>Presentations:</p>
    <ul>
      <li>Refer to Meetup site for details</li>
      <li>BrisRuby.com <a href="http://brisRuby.com/"></li>
    </ul>
  </article>
  <article>
    <h4>Organisers</h4>
    <p>Nigel Rausch (<a href="http://twitter.com/nr99">@nr99</a>), Nathan Hoad and Paul O'Keefe.</p>
  </article>
  <article>
    <h4>Schedule</h4>
    <p>For more details about Brisbane Ruby meetups, visit <a href="http://brisruby.com">BrisRuby.com</a>.</p>
  </article>
</section>
