<section>
  <h3>Perth</h3>

  <article>
    <h4>Ruby on Rails Oceania - Perth</h4>
    <p>Second Wednesday of each month, at <%= link_to "Sync Labs", "http://synclabs.com.au/" %> in Leederville.</p>
    <p>We're an informal group and we welcome people of all skill levels, from all walks of life.</p>
    <p>For more information about RORO Perth, visit <%= link_to "Perth Ruby on Rails", "http://www.perthrubyonrails.com.au/" %>.</p>
  </article>
</section>
