<section>
  <h3>Perth</h3>
  <article>
    <h4>Ruby on Rails Oceania - Perth</h4>
    <p>Second Wednesday of each month, at <a href="http://synclabs.com.au/">Sync Labs</a> in Leederville.</p>
    <p>We're an informal group and we welcome people of all skill levels, from all walks of life.</p>
    <p>For more information about RORO Perth, visit <a href="http://www.perthrubyonrails.com.au/">Perth Ruby on Rails</a>.</p>
  </article>
</section>
