<div class="max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8 py-6 sm:py-8 lg:py-10">
  <div class="flex flex-row items-center justify-between mb-6 sm:mb-8">
    <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold text-gray-900 mb-4 sm:mb-0">Edit Event</h2>
  </div>

  <%= render 'form', event: @event %>
</div>
