<div class="col-start-1 left-0 sticky top-[50px] h-[calc(100dvh-50px)] w-full" style="overscroll-behavior: contain; scrollbar-width: none;">
  <div class="flex overflow-y-auto absolute top-0 left-0 flex-col gap-2 py-6 w-full h-full">
    <dl class="absolute z-20 flex flex-col bg-[#0D37F2] border border-white shadow rounded-md py-1 px-2 w-auto left-2 right-6">
      <dt class="text-xs text-white truncate">Communicating intent in code</dt>
      <dd class="text-[10px] text-[#B8C5FF]"><time datetime="2026-08-26">26th Aug (3 days)</time></dd>
    </dl>
    <dl class="flex absolute top-[130px] z-20 flex-col bg-gray-200/90 rounded py-px px-2 w-auto left-2 right-6">
      <dt class="text-xs text-gray-500 truncate">Rails at Scale</dt>
    </dl>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['September'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['September'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['August'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['July'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['June'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['March'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['May'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['February'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['January'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['December_2024'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['November'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['October'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
    <div class="h-12 relative border-t w-full border-t-gray-200 before:content-['September'] before:text-gray-400 before:text-xs before:absolute before:top-[-10px] before:right-0 before:px-2 before:bg-white before:z-10"></div>
  </div>
</div>
