<% if flash[:alert] %>
  <div class="mt-2 text-center text-sm text-red-600">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if devise_error_messages! %>
  <div class="mt-2 text-center text-sm text-red-600">
    <%= devise_error_messages! %>
  </div>
<% end %>
