<div data-controller="scroll-to-top">
  <button
    data-scroll-to-top-target="button"
    data-action="click->scroll-to-top#scrollToTop"
    class="hidden items-center justify-center fixed z-50 bottom-8 right-8 p-3 bg-ruby-red text-pearl rounded-full shadow-lg hover:bg-red-700 transition-all duration-300 transform hover:scale-110 focus:outline-none"
    aria-label="Scroll to top"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
    </svg>
  </button>
</div>
