<section class="spacer bg-ruby-red h-auto w-full text-center text-white p-10">
  <p class="mb-0">
    Would you like to become a member of Ruby Australia? it's free to
    <%= link_to 'join', new_user_registration_path, class: "text-white hover:text-red-400 transition-colors underline" %>.
  </p>
</section>
