<section class="spacer bg-ruby-red h-auto w-full text-center text-white p-10">
  <p class="mb-0">
    Follow us on
    <%= link_to "Linkedin", "https://www.linkedin.com/company/ruby-australia/", aria: { label: "Visit Ruby Australia's LinkedIn page" } %>
    to stay updated with the latest news and events from Ruby Australia.
  </p>
</section>
