<section class="spacer bg-rose-200 h-auto w-full p-16">
  <div class="text-center">
    <h1 class="flex align-middle justify-center text-2xl text-ruby-red sm:text-3xl md:text-4xl font-bold mb-6 sm:mb-8 md:mb-10">Need mental health support?</h1>
    <p class="text-sm sm:text-base md:text-lg font-normal">
      You're not alone - help and community resources are available through Ruby Australia's
      <%= link_to "Mental Health and Wellbeing page", "/health-and-wellbeing", class: "underline text-rose-700 font-medium hover:text-rose-800" %>.
    </p>
    <%= link_to "Get Support", "/health-and-wellbeing",
        class: "inline-block bg-ruby-red hover:bg-red-700 border border-white border-2 text-pearl font-medium py-2 px-4 sm:py-3 sm:px-6 rounded-lg transition-colors shadow-md my-4" %>
  </div>
</section>