<p id="mission-statement">
  The founding purpose of Ruby Australia is to further the use and adoption of
  the Ruby programming language in Australia, and to support and encourage a
  vibrant community around the language and related technologies.
</p>

<section id="meetups">
  <h3>Meetups</h3>
  <p>
    There are a number of regional Ruby-related meetups all over the country.
    Each group is organised independently by its members, and all are very
    welcoming to newcomers. The following groups meet regularly:
  </p>
  <ul class="meetup-locations">
    <li>
      <a href="/meetups/adl.html" id="adl">Adelaide</a>
    </li>
    <li>
      <a href="/meetups/bne.html" id="bne">Brisbane</a>
    </li>
    <li>
      <a href="/meetups/can.html" id="can">Canberra</a>
    </li>
    <li>
      <a href="/meetups/mel.html" id="mel">Melbourne</a>
    </li>
    <li>
      <a href="/meetups/per.html" id="per">Perth</a>
    </li>
    <li>
      <a href="/meetups/syd.html" id="syd">Sydney</a>
    </li>
  </ul>
</section>

<section id="railscamp">
  <h3>Rails Camp</h3>
  <p>
    Ruby Australia is the organising body of Australian Rails Camp events.
    Please see the official <a href="http://railscamps.com">Rails Camp</a> site
    for more details.
  </p>
</section>

<section id="rubyconf-au">
  <h3>RubyConf Australia</h3>
  <p>
    Ruby Australia is the organising body of RubyConf Australia.
    Please see the official <a href="http://rubyconf.org.au">RubyConf AU</a> site
    for more details.
  </p>
</section>

<section>
  <h3>Contributing to the site</h3>
  <p>
    The site's source is hosted on GitHub:
    <a href="https://github.com/rubyaustralia/ruby.org.au">https://github.com/rubyaustralia/ruby.org.au</a>.  Please refer to the <a href="https://github.com/rubyaustralia/ruby.org.au#readme">README</a> there for more details.
  </p>
</section>
