<h1>Expressions of Interest</h1>

<div class="md:max-w-full">
  <section id="welcome" class="flex flex-1 flex-col border-l-2 border-grey-lighter md:mt-5">
    <section class="welcome">
      <h2>Seeking expressions of interest for Rails Camp AU 26</h2>

      <article>
        <h3>Expressions Required By: May 21st 2019.</h3>

        <p>The original community event for Ruby Australia is <a href="https://rails.camp">Rails Camp</a>, which has been occuring twice a year since 2007. The <a href="https://ruby.org.au">Ruby Australia</a> committee is seeking expressions of interest from people in the community to run the 26th edition of the event.</p>

        <p>To support organisers, Ruby Australia offers event insurance and financial backing courtesy of previous events and sponsors. Also, previous organisers will be able to provide wisdom and suggestions from their past experiences, previous budgets, connections to vendors and venues and other general advice. There's also <a href="https://github.com/rubyaustralia/ruby-event-guides/blob/master/railscamp/README.md">a guide</a> that's been put together based on previous organiser experiences - it's a great starting point for information about what you will likely need to do.</p>

        <p>Traditionally, the camps have been run in May/June/July and October/November, and have been hosted in all states and major territories of Australia over the course of its history to allow for a broader audience of people to attend. Regions that have not recently hosted (and thus, would be preferred this time) are New South Wales, South Australia, and the Australian Capital Territory, and we'd expect this particular event to take place around October/November 2019.</p>

        <p>We would prefer these patterns to be followed, but they’re open to discussion. We’re very much aware that it can depend on the organising team's location and circumstances. Please, if you’re interested, err on the side of applying.</p>

        <p>We welcome expressions of interest from one or many people - organising a camp is recommended as a team experience (it's a bit of work) but you don't need to have a clear team identified at this point.</p>

        <p>It's also worth noting that you do not need to be an experienced Ruby developer, nor a long-standing member of the community - people of all backgrounds and experience levels are welcome to put their hand up! It will certainly help, though, if you've attended a previous Rails Camp.</p>

        <p>This is a volunteer role, so it’s definitely a labour of love.</p>

        <p>If you are interested, we're particularly keen to know the following:</p>

        <ul>
          <li>Your name, and the name of anyone else who's keen to work with you on this.</li>
          <li>Where in Australia are you located?</li>
          <li>Where in Australia would you prefer to run the camp?</li>
          <li>Which Rails Camp editions have you attended in the past?</li>
          <li>Is there any particular vision you have around what this camp could look like?</li>
        </ul>

        <p>Please do send any indications of interest (and answers to the above questions) via email to <a href="mailto:contact@ruby.org.au">contact@ruby.org.au</a>.</p>

        <p>You’re also welcome to ask questions about this via email as well, or by contacting either <a href="https://twitter.com/pat">Pat Allan</a> (Ruby Australia President and Rails Camp AU 2 & 6 organiser) or <a href="https://twitter.com/CaitlinPB">Caitlin Palmer-Bright</a> (Ruby Australia Vice President and Rails Camp AU 2019 23 & 24 organiser) via the <a href="/slack">Ruby Australia Slack group</a>.</p>
      </article>
    </section>
  </section>
</div>
