<h1>Expressions of Interest</h1>

<div class="md:max-w-full">
  <section id="welcome" class="flex flex-1 flex-col border-l-2 border-grey-lighter md:mt-5">
    <section class="welcome">
      <h2>Seeking expressions of interest for RubyConf AU 2020</h2>

      <article>
        <h3>Expressions Required By: February 18th 2019.</h3>
        <p>One of the flagship events of the Australian Ruby community's calendar is <a href="https://rubyconf.org.au">RubyConf AU</a>, which has been occurring annually since 2013. The <a href="https://ruby.org.au">Ruby Australia</a> committee is seeking expressions of interest from people in the community to run the 2020 edition of the conference.</p>

        <p>To support conference organisers, Ruby Australia offers event insurance and financial backing courtesy of previous events and sponsors. Also, previous organisers will be able to provide wisdom and suggestions from their past experiences, previous budgets, connections to vendors, suggested speakers to invite, and other general advice. There's also <a href="https://github.com/rubyaustralia/ruby-event-guides/blob/master/rubyconf/README.md">a guide</a> that's been put together based on previous organiser experiences - it's a great starting point for information about what you will likely need to do as an organser.</p>

        <p>Traditionally, the conference has taken place in February or March, and have alternated between Melbourne and other Australian cities over the course of its history to allow for a broader audience of people to attend. We would prefer these patterns to be followed, but they’re open to discussion. We’re very much aware that it can depend on the organising team's location and circumstances. Please, if you’re interested, err on the side of applying.</p>

        <p>We welcome expressions of interest from one or many people - organising a conference is recommended as a team experience (it's a lot of work) but you don't need to have a clear team identified at this point.</p>

        <p>It's also worth noting that you do not need to be an experienced Ruby developer, nor a long-standing member of the community - people of all backgrounds and experience levels are welcome to put their hand up! It will certainly help, though, if you've attended a previous RubyConf AU.</p>

        <p>This is a volunteer role, so it’s definitely a labour of love. However, previous conference teams have contracted professional event managers to assist in producing the events, and have found that to be a significant help, so you may wish to do the same.</p>

        <p>If you are interested, we're particularly keen to know the following:</p>

        <ul>
          <li>Your name, and the name of anyone else who's keen to work with you on this.</li>
          <li>Where in Australia are you located?</li>
          <li>Where in Australia would you prefer to run the conference?</li>
          <li>Which RubyConf AU editions have you attended in the past?</li>
          <li>Is there any particular vision you have around what this conference could look like?</li>
        </ul>

        <p>Please do send any indications of interest (and answers to the above questions) via email to <a href="mailto:contact@ruby.org.au">contact@ruby.org.au</a>.</p>

        <p>You’re also welcome to ask questions about this via email as well, or by contacting either <a href="https://twitter.com/pat">Pat Allan</a> (Ruby Australia President and RubyConf AU 2015 & 2019 organiser) or <a href="https://twitter.com/CaitlinPB">Caitlin Palmer-Bright</a> (Ruby Australia Vice President and RubyConf AU 2019 organiser) via the <a href="/slack">Ruby Australia Slack group</a>.</p>
      </article>
    </section>
  </section>
</div>
