<section>
  <h3>Adelaide Ruby</h3>

  <article>
    <h4>Next Meetup</h4>
    <p>Adelaide.rb meets on the first Tuesday of each month at <%= link_to "Majoran.co", "http://majoran.co" %></p>
    <p>Beginners and visitors always welcome.</p>
    <p>For all the latest info, join us at the <%= link_to "Adelaide.rb Meetup Group", "http://www.meetup.com/adelaiderb" %></p>
  </article>

  <article>
    <h4>Organiser</h4>
    <p>Chris Teague (<%= link_to "@chris_teague", "http://twitter.com/chris_teague" %>)</p>
  </article>
</section>
