<h1>2015 Ruby Australia Developer Survey</h1>

<blockquote>
  The founding purpose of Ruby Australia is to further the use and adoption of the Ruby programming language in Australia, and to support and encourage a vibrant community around the language and related technologies.
</blockquote>

<p>
  This year the Ruby Australia committee has really ratcheted up the effort in delivering on our founding idea - furthering the use and adoption of Ruby in Australia. We have three independent but interlinked efforts being worked on right now: growing the number of developers joining our community, easing the operation of the Ruby events that occur in Australia, and finally engaging our partners in industry in providing a robust commercial future for Ruby in Australia.
</p>

<p>
  To support our efforts in promoting Ruby to both developers and potential employers of developers we need to build our case on a strong foundation of data. How many Ruby developers are there in Australia? How many potential employers are in the market? What depth of experience exists in the community right now? Where do Ruby developers even live? This survey is designed to help us answer those questions and more to the wide variety of people who can help us drive further adoption of Ruby.
</p>

<h4 class="rb-grey80 pl3">The Results</h4>

<p>
  Fast forward to RubyConfAU 2016 and we've officially released our summary of the survey results. You can <%= link_to "download the report here", "/files/survey-results/2015-ruby-au-survey.pdf" %>.
</p>

<p>
  Please read the report in full to get a complete picture of the results, but we'll quote the key findings from the executive summary here.
</p>

<blockquote>
  <ol>
    <li>
      The Ruby community has a diversity problem. We are almost all men, and largely in our late twenties or early thirties. Addressing this issue is one of the committee's top goals, and while at this point in time the data does not look good, it is the committee's hope that current efforts will show improvement in these figures in future survey reports
    </li>
    <li>
      The "typical" employment situation for Ruby developers in Australia is to be a full time employee, in a small to medium sized engineering team, within a medium to large company between five and thirteen years old.
    </li>
    <li>
      There are great employment prospects for developers in the Ruby ecosystem. Almost half of our community work for companies that are currently hiring and grew their development teams by a substantial amount over the past twelve months. The majority of Ruby developers report an annual income well above the average and median full time salary for all Australians.
    </li>
    <li>
      In 2015 more new Rubyists joined the workforce than in any of the three previous years. This once again demonstrates the growth of the community and the prospects for new developers. This growth is good for the community, but the relative shortage of mid level engineers in the proceeding years may create a leadership gap for career development of these new junior developers
    </li>
  </ol>
</blockquote>

<p>
  Our intention as a community association is to repeat this (or an improved) survey annually to track the committee's progess against charter.
</p>

<p>
  P.S. Big thank you to Liam Esler from <%= link_to "the GDAA", "http://www.gdaa.com.au/" %> for both suggesting the survey at the AGM and help drafting it. Thanks also to Ben Askins, Melissa Kaulfess, Rob Jacoby, Pat Allan, Robert Postill, and Richie Khoo for help reviewing the survey.
</p>
