<%= content_for :heading do %>
  2019 Survey Results
<% end %>

<h2>2019 Ruby Australia Developer Survey Results</h2>

<article id="survey-results">
  <p>Welcome to the results of Ruby Australia's 2019 State of the Community survey. On this page we'll cover the summarised responses to some of the survey questions to help us all understand where our community's at.</p>

  <p>While we in the committee are definitely finding the results useful, we are well aware our survey was only filled out by a small portion of the community (with a total of 134 responses). So, take all of these numbers with a grain of salt.</p>

  <h3>Demographics</h3>

  <h4>How old are Australian Rubyists?</h4>

  <div id="age-chart" class="chart"></div>

  <p>Nothing too surprising about these numbers, but perhaps we could be doing a better job at engaging university students?</p>

  <h4>What gender are Australian Rubyists?</h4>

  <p>We provided a text field for people to enter gender as they wished. Almost everyone opted for traditional binary labels: 80% male, 15% female, 1% male-ish, and the remaining 4% chose not to disclose.</p>

  <p>While we feel anecdotally that the diversity of our corner of the industry is improving beyond these gathered statistics, we know there's still a long way to go (and in identity axes beyond gender too!)</p>

  <h4>Where do Australian Rubyists live?</h4>

  <div id="states-chart" class="chart"></div>

  <p>It seems Victoria - and Melbourne especially - has the most Rubyists, which is perhaps not so surprising given the size of some Ruby-focused businesses in that city.</p>

  <p>We also found that - much like the country's population generally - our community is heavily focused in our state capital cities, with just 4% living elsewhere.</p>

  <p>And a shout-out to the 7% of respondants living outside of Australia - we're really glad that you feel welcome enough to consider yourself part of our community even while living elsewhere.</p>

  <h4>In what ways have Australian Rubyists been educated?</h4>

  <div id="education-chart" class="chart"></div>

  <p>University degrees dominate here - which is perhaps a touch surprising given the anecdotal stories of developers succeeding in our industry without degrees, and/or through bootcamps and other less-traditional methods.</p>

  <h3>At Work</h3>

  <h4>What is the employment status of Australian Rubyists?</h4>

  <div id="employment-chart" class="chart"></div>

  <p>These numbers are pretty clear: the vast majority of our respondants are working as full-time employees.</p>

  <h4>How experienced are Australian Rubyists?</h4>

  <div id="experience-chart" class="chart"></div>

  <h4>From where do Australian Rubyists work?</h4>

  <div id="office-chart" class="chart"></div>

  <p>It looks like most of our community embrace at least some remote work on a regular basis.</p>

  <h4>In what size companies do Australian Rubyists work?</h4>

  <div id="company-size-chart" class="chart"></div>

  <p>There's quite an even spread of responses here - companies of all sizes are employing Rubyists.</p>

  <h4>How many Ruby developers in Australian Rubyists' workplaces?</h4>

  <div id="colleague-size-chart" class="chart"></div>

  <p>Larger teams of Rubyists seem to be relatively rare - though one respondant did say they work with 500 other Rubyists!</p>

  <h4>How many new Ruby-focused colleagues have Australian Rubyists welcomed lately?</h4>

  <div id="hire-size-chart" class="chart"></div>

  <p>These statistics are for new colleagues in the past year. While most have had somewhere between one to ten new teammates, one outlier said they've had 60 new Ruby-coding colleagues join them!</p>

  <h4>How many Australian Rubyists work somewhere that is currently hiring?</h4>

  <p>Of the 125 responses received, it was almost an even split on this question: 63 respondants said their place of employment isn't currently hiring, while 62 said yes they <em>are</em> hiring.</p>

  <h3>Ruby and the Community</h3>

  <h4>How long have Australians been using Ruby?</h4>

  <div id="hobby-time-chart" class="chart"></div>

  <p>The spread here (and in the next chart as well) matches the job experiences results further up the page. It does raise questions about whether there is enough newer folks coming into the industry - or at least, whether relative newcomers have filled out the survey.</p>

  <h4>How long have Australians been working with Ruby professionally?</h4>

  <div id="professional-time-chart" class="chart"></div>

  <h4>What are Australian Rubyists focusing on next?</h4>

  <div id="focuses-chart" class="chart"></div>

  <p>We allowed people to choose more than one option here, and we're especially happy to see three quarters of respondants are expecting to remain working with Ruby over th next few years.</p>

  <h4>How often do Australian Rubyists contribute to open-source projects?</h4>

  <p>10% of respondants said they contribute to open-source projects at least once a month. 36% said a few times a year, another 36% said once a year or two, and 18% said they've not yet made any contributions.</p>

  <p>Separate to open-source contributions, we'd love to highlight that almost 30 respondants said they've helped to organise events in our community. That’s a lot of contributions, and we’re super lucky to have so many people with the time and willingness to chip in. Thank you!</p>

  <h3>What's next?</h3>

  <p>Along with the above information, we also received a lot of valuable feedback on Ruby Australia events, which will be collated and shared with the relevant organisers and future committee members, to help ensure we're helping the community in ways that they need.</p>

  <p>As always, if you have any questions or feedback for the Ruby Australia committee, we're very keen to hear from you. Please do <%= link_to "get in touch!", "/contact" %></p>
</article>
