<h1>2019 Survey</h1>

<div class="md:max-w-full">
  <section id="welcome" class="flex flex-1 flex-col border-l-2 border-grey-lighter md:mt-5">
    <section class="welcome">
      <h2>2019 Ruby Australia Developer Survey</h2>

      <article class="action text-center call-to-action my-8">
        <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSc97UNFyVTgAzk-amFwYQ2V1bumEYXuDw9GDMCpRCrQsgXG9g/viewform" target="_blank">Fill out the survey</a>
      </article>

      <article>
        <blockquote class="ml-10 mr-10">
          The founding purpose of Ruby Australia is to further the use and adoption of the Ruby programming language in Australia, and to support and encourage a vibrant community around the language and related technologies.
        </blockquote>

        <p>
          To support our efforts in supporting the community through events, and promoting Ruby to both developers and potential employers of developers, we need to ensure we have a solid understanding of what our community looks like.
        </p>

        <p>
           There are so many questions to ask: How many Ruby developers are there in Australia? How many potential employers are in the market? Which events do they attend, and how often? What depth of experience exists in the community right now? Where do Ruby developers even live? <a href="https://docs.google.com/forms/d/e/1FAIpQLSc97UNFyVTgAzk-amFwYQ2V1bumEYXuDw9GDMCpRCrQsgXG9g/viewform" target="_blank">This
          survey</a> is designed to help us answer those questions and more, and help Ruby Australia work towards supporting our members and assisting with the further adoption of Ruby across the industry.
        </p>
      </article>

      <article class="action text-center call-to-action my-8">
        <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSc97UNFyVTgAzk-amFwYQ2V1bumEYXuDw9GDMCpRCrQsgXG9g/viewform" target="_blank">Fill out the survey</a>
      </article>

      <article>
        <% if false %>
          <h3>The Results</h3>
          <p>
            We've officially released our summary of the survey results. You can <%= link_to "download the report here", "/files/survey-results/2019-ruby-au-survey.pdf" %>.
          </p>
          <p>
            Please read the report in full to get a complete picture of the results, but we'll quote the key findings from the executive summary here.
          </p>
        <% end %>

        <p>
          Our intention as a community association is to repeat this (or an improved) survey annually to track the committee's progress against our charter. We will share aggregate and anonymised data once the survey results close on May 10th.
        </p>
      </article>
    </section>
  </section>
</div>
