<section class="bg-purple text-white py-6 justify-center">
  <div class="md:ml-10 max-w-md mx-4 justify-center text-center">
    <a class="border-pink border-2 text-pink font-mono no-underline hover:bg-pink hover:text-white text-bold bg-white py-2 px-5 shadow-md" href="<%= url %>" title="<%= title %>">
      <%= text %>
    </a>
  </div>
</section>
