<%# Skipping Rails conventions on render to allow linking to individual pages %>

<section>
  <%= render file: 'pages/articles/2017-03-24-ruby-au-elections' %>
</section>

<section>
  <%= render file: 'pages/articles/2016-11-21-ruby-au-elections' %>
</section>

<section>
  <%= render file: 'pages/articles/2014-02-26-gender-equality' %>
</section>
