<section id="association">
  <header>
    <h1>Association</h1>
  </header>
  <article>
    <header>
      <h3>Annual General Meeting Minutes</h3>
      <ul>
        <li>
          <a href="/general_meetings/2015-06-14.html">June 14 2015 (Rails Camp 17)</a>
        </li>
        <li>
          <a href="/general_meetings/2014-05-10.html">May 10 2014 (Rails Camp 15)</a>
        </li>
        <li>
          <a href="/general_meetings/2013-11-03.html">November 03 2013 (Rails Camp 14)</a>
        </li>
        <li>
          <a href="/general_meetings/2013-06-23.html">June 23 2013 (Rails Camp 13)</a>
        </li>
      </ul>
    </header>
  </article>
  <article>
    <header>
      <h3>Special General Meeting Minutes</h3>
      <ul>
        <li>
          <a href="/general_meetings/2015-12-13.html">December 13 2015 (Rails Camp 18)</a>
        </li>
        <li>
          <a href="/general_meetings/2014-11-15.html">November 15 2014 (Rails Camp 16)</a>
        </li>
        <li>
          <a href="/general_meetings/2012-11-20.html">November 20 2012 (Rails Camp 12)</a>
        </li>
        <li>
          <a href="/general_meetings/2012-06-16.html">June 16 2012 (Rails Camp 11)</a>
        </li>
      </ul>
    </header>
  </article>
  <article>
    <header>
      <h3>Committee Meeting Minutes</h3>
      <ul>
        <li>
          <a href="/committee_meetings/2016-01-12.html">January 12 2016 (Online Webinar)</a>
        </li>
        <li>
          <a href="/committee_meetings/2015-10-21.html">October 21 2015 (Online Webinar)</a>
        </li>
        <li>
          <a href="/committee_meetings/2015-09-16.html">September 16 2015 (Online Webinar)</a>
        </li>
        <li>
          <a href="/committee_meetings/2015-08-19.html">August 19 2015 (Online Webinar)</a>
        </li>
        <li>
          <a href="/committee_meetings/2015-07-08.html">July 8 2015 (Online Webinar)</a>
        </li>
      </ul>
    </header>
  </article>
</section>
