<section id="members">
  <header>
    <h1>Committee Members</h1>
  </header>

  <article>
    <img src="/images/committee-members/leonard-garvey.jpg"/>
    <header>
      <h3>Leonard Garvey</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
      <p>Len has been a part of the Sydney Ruby community for several years. He organised Rails Camp 17 at Broken Bay north of Sydney and recently moved to Melbourne to take up a Tech Lead position with <a href="http://www.rea-group.com/">REA</a>. He enjoys helping new people in the Ruby community and is working to make it a fun and welcoming place for all.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/lgarvey">@lgarvey</a>
      <a href="https://github.com/lengarvey">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/melissa-kaulfuss.jpg"/>
    <header>
      <h3>Melissa Kaulfuss</h3>
      <p class="position">Vice President</p>
    </header>

    <div class="bio">
      <p>Mel is an internet enthusiast and polyglot amateur. She dreams of being a software developer, but at the moment is content helping the open source community continue to be a supportive, inclusive and welcoming place for everyone. Mel was on the organising team for Ruby Conf 2015, volunteers her time to help at numerous awesome tech conferences, and co-organises a Melbourne Meetup called <a href="http://codekuma.io/">Code Kuma</a>. She works at <a href="http://www.lookahead.com.au/">Lookahead</a> in Melbourne.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/MelissaKaulfuss">@MelissaKaulfuss</a>
      <a href="https://github.com/MelissaKaulfuss">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/jo-cranford.jpg"/>
    <header>
      <h3>Jo Cranford</h3>
      <p class="position">Treasurer</p>
    </header>

    <div class="bio">
      <p>Originally from the UK, Jo now works as a development lead at <a href="http://www.cultureamp.net">Culture Amp</a> in Melbourne, and is helping to organise RubyConf AU 2016. She loves tea and can't understand why people complain about the weather here.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/jocranford">@jocranford</a>
      <a href="https://github.com/jocranford">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/rebecca-skinner.jpg"/>
    <header>
      <h3>Rebecca Skinner</h3>
      <p class="position">Secretary</p>
    </header>

    <div class="bio">
      <p>Rebecca has been working with Ruby and Rails since making a fateful New Years Resolution to learn them at the end of 2010. She writes a lot, has Opinions about many things, and works for <a href="http://reinteractive.net">reinteractive</a> from sunny Perth.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/sevenseacat">@sevenseacat</a>
      <a href="http://sevensea.cat">sevensea.cat</a>
      <a href="https://github.com/sevenseacat">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/rob-jacoby.jpg"/>
    <header>
      <h3>Rob Jacoby</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Rob fell in love with Ruby in 2011 after fighting with PHP for a number of years. He loves bending rails to his will, and is terrible at front-end design - or at least that's what designers say.  He works at Local Directories on the fabulous Gold Coast.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/robjacoby">@robjacoby</a>
      <a href="https://github.com/robjacoby">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/amanda-neumann.jpg"/>
    <header>
      <h3>Amanda Neumann</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>In her previous career, Amanda spent many years in the education space harnessing technology to improve education. Realising her heart had always been in programming she took a leap and set out to make the jump permanently. Along the way she fell in love with the Ruby community and is now working as a Junior Ruby Developer for <a href="http://www.envato.com">Envato</a> in Melbourne.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/amandamelb">@amandamelb</a>
      <a href="https://github.com/amanda08">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/lauren-hennessy.jpg"/>
    <header>
      <h3>Lauren Hennessy</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Lauren is a Software Development student and Rails intern with <a href="http://kampus.com.au">Kampus</a> in Adelaide. She co-organises the <a href="http://www.meetup.com/adelaiderb/">Adelaide.rb</a> meetup and is the lead organiser of Rails Camp Adelaide 2016. Having brought Rails Girls events to Adelaide in 2015, she's passionate about fostering diversity and growth in the Ruby community and is looking forward to working with the committee to achieve this.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/l_k_hennessy">@L_K_Hennessy</a>
      <a href="https://github.com/lkhennessy">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/angus-scown.png"/>
    <header>
      <h3>Angus Scown</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Angus is the Software Engineering manager at <a href="http://www.urbispro.com.au">UrbisPro</a>.  As a land surveyor and software engineer Angus possesses the unique attributes of domain knowledge, skills and passion mixed with pioneering entrepreneurship. He has a passion for DevOps and has been using ruby for more years than he cares to recall.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/angusscown">@angusscown</a>
      <a href="https://au.linkedin.com/in/angusscown">LinkedIn</a>
    </div>
  </article>
  <article>
    <a href="/previous-committee-members.html">Previous Committee Members</a>
  </article>
</section>
