<div class="container mx-auto prose px-4 py-10">
  <div class="markdown max-w-full md:max-w-3xl lg:max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-6 sm:py-8 lg:py-10">
    <%= document_markdown_to_html "committee_roles" %>
  </div>
</div>
