<h1 class="rb-grey80 pl3">Contact Ruby Australia</h1>

<ul>
  <li>
    <%= link_to 'Twitter (@rubyaustralia)', "http://twitter.com/rubyaustralia" %>
  </li>
  <li>
    <%= link_to 'Email', "mailto:contact@ruby.org.au" %>
  </li>
</ul>

<p>Or via post:</p>

Ruby Australia<br>
PO Box 221<br>
Collins Street West, VIC 8007, Australia

<hr>

<h2>Banking details</h2>

<p>
  <strong>Bank name:</strong> Westpac<br>
  <strong>BSB:</strong> 033-120<br>
  <strong>Account Number:</strong> 295772<br>
  <strong>Account Name:</strong> Ruby Australia Inc.<br>
  <strong>SWIFT Code:</strong> WPACAU2S or WPACAU2SXXX
</p>
