<h1>Contact Ruby Australia</h1>

<ul>
  <li>
    <%= link_to 'Twitter (@rubyaustralia)', "http://twitter.com/rubyaustralia", class: "text-purple hover:text-purple-darker" %>
  </li>
  <li>
    <%= link_to 'Email', "mailto:contact@ruby.org.au", class: "text-purple hover:text-purple-darker" %>
  </li>
</ul>

<p>Or via post:</p>

<p class="text-grey-darkest leading-tight mt-3">
Ruby Australia<br>
PO Box 221<br>
Collins Street West, VIC 8007, Australia
</p>

<hr>

<h2>Banking / ABN details</h2>

<p>
  <strong>ABN:</strong> 58 789 561 496<br>
  <strong>Bank name:</strong> Commonwealth Bank<br>
  <strong>BSB:</strong> 063-000<br>
  <strong>Account Number:</strong> 13217246<br>
  <strong>Account Name:</strong> Ruby Australia Inc.<br>
  <strong>SWIFT Code:</strong> CTBAAU2S or CTBAAU2SXXX
</p>
