<%= content_for :heading do %>
  Feedback
<% end %>

<div class="md:block mb-32">
  <h3 class="uppercase mb-12">Send us feedback</h3>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScfqfDWXk6azrC7v_qLQk0jp6knUios3g8AW0QRcG5tKOjlww/viewform?embedded=true" class="w-[280px] md:w-[640px]" height="629" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
