<section>
  <h3>Join Ruby Australia</h3>
  <p>Joining Ruby Australia is free.</p>
  <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dHZnUGlzcG5ibDJUcGZGY252T1NIQVE6MQ&amp;ifq" method="post">
    <fieldset>
      <label for="first_name">First Name</label>
      <input id="first_name" name="entry.1.single"></input>
      <label for="last_name">Last Name</label>
      <input id="last_name" name="entry.0.single"></input>
    </fieldset>
    <fieldset>
      <label for="email">E-Mail</label>
      <input id="email" name="entry.2.single"></input>
    </fieldset>
    <fieldset>
      <label for="twitter">Twitter</label>
      <input id="twitter" name="entry.9.single"></input>
    </fieldset>
    <fieldset>
      <label for="home_address">Home address</label>
      <input id="home_address" name="entry.3.single"></input>
      <label for="city">City</label>
      <input id="city" name="entry.5.single"></input>
      <label for="state">State</label>
      <input id="state" name="entry.6.single"></input>
      <label for="postcode">Postcode</label>
      <input id="postcode" name="entry.7.single"></input>
    </fieldset>
    <fieldset>
      <button type="submit">Join Ruby Australia</button>
    </fieldset>
  </form>
</section>
