<section id="members">
  <header>
    <h1>Former Committee Members</h1>
  </header>

  <article>
    <img src="/images/committee-members/sebastian-avatar.jpg"/>
    <header>
      <h3>Sebastian von Conrad</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
      <p>After growing up in Sweden, Sebastian escaped to the US in 2007 and moved down under in 2009. He now lives in Melbourne with his partner and two fur children, and works as a development manager at <a href="http://www.envato.com">Envato</a>. He is also a certified baseball nut. Having organised Rails Camp X, he is excited to continue working with the Australian Ruby community.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/vonconrad">@vonconrad</a>
      <a href="http://au.linkedin.com/in/vonconrad">LinkedIn</a>
      <a href="https://github.com/vonconrad">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/mikel-lindsaar.jpg"/>
    <header>
      <h3>Mikel Lindsaar</h3>
      <p class="position">Secretary 2015</p>
    </header>

    <div class="bio">
      <p>Mikel has been involved with Ruby since 2007 after deciding to learn ruby by building the <a href="https://rubygems.org/gems/mail">mail gem</a>. Since then he founded <a href="https://reinteractive.net/">reinteractive</a> in 2010 and co-founded <a href="https://flood.io/">Flood.IO</a> in 2013.  Mikel enjoys his RC Helicopter flying and Formula1, both of which involve expensive things going fast into walls at odd angles.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/lindsaar">@lindsaar</a>
      <a href="https://github.com/mikel">GitHub</a>
      <a href="https://reinteractive.net">reinteractive</a>
      <a href="https://flood.io">flood.io</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/keith-pitt.jpg"/>
    <header>
      <h3>Keith Pitt</h3>
      <p class="position">General Member 2014-2015</p>
    </header>

    <div class="bio">
      <p>Keith (also known as "Magic Keith") is a developer from Adelaide living in Perth, Western Australia. He is the founder of the Continuous Integration service Buildbox <a href="https://buildbox.io">https://buildbox.io</a></p>
      <p>In Keith's spare time, he watches many scary movies, and wins Magic Competitions.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/keithpitt">@keithpitt</a>
      <a href="https://github.com/keithpitt">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/luke-arndt.jpg"/>
    <header>
      <h3>Luke Arndt</h3>
      <p class="position">General Member 2014-2015</p>
    </header>

    <div class="bio">
      <p>Luke is a developer from New Zealand who now lives in Melbourne, writing Ruby on Rails code at <a href="http://www.envato.com">Envato</a> to help improve their digital Marketplaces. His interests include good food (such as bacon), cycling, video games and sword fighting.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/luke_arndt">@luke_arndt</a>
      <a href="https://github.com/lukearndt">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/melanie-sherrin.jpg"/>
    <header>
      <h3>Melanie Sherrin</h3>
      <p class="position">General Member 2014-2015</p>
    </header>

    <div class="bio">
      <p>A lawyer with a burning ambition to be a dev, Mel is new to the world of both coding and Ruby. Cat herder, burner, unionist and enjoyer of wine.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/melsherrin">@melsherrin</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/pat-allan.jpg"/>
    <header>
      <h3>Pat Allan</h3>
      <p class="position">Vice President 2014-2015</p>
    </header>

    <div class="bio">
      <p>Pat has been working with Ruby since 2006, and is based at the coworking space of <a href="http://inspire9.com">Inspire9</a> in Melbourne. Often, though, you'll find him travelling around the world, attending interesting events and meeting interesting people. He's a fan of bringing people together for gatherings small and large, including <a href="http://trampolineday.com">Trampoline</a> and <a href="http://railscamps.com">Rails Camp</a>. And if you ask him nicely, he might even cook you a pancake.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/pat">@pat</a>
      <a href="http://github.com/pat">GitHub</a>
      <a href="http://freelancing-gods.com">Blog</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/jason-stirk.jpg"/>
    <header>
      <h3>Jason Stirk</h3>
      <p class="position">Treasurer 2013-2014</p>
    </header>

    <div class="bio">
      <p>Jason met Ruby in late 2004, fell in love with its elegance, and met Rails not long after. He lives in Lismore and likes Rails Camp T's, game development and underscores.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/j_stirk">@j_stirk</a>
      <a href="http://au.linkedin.com/in/jasonstirk/">LinkedIn</a>
      <a href="https://github.com/jstirk">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/luke-chadwick.jpg"/>
    <header>
      <h3>Luke Chadwick</h3>
      <p class="position">Secretary 2014</p>
    </header>

    <div class="bio">
      <p>Geek since birth. Rubyist & DevOp. Lover. Idealist. Proud creator of <a href="http://faxitforme.com">http://faxitforme.com</a> (RailsRumble2012)</p>
      <p>Formerly at <a href="http://realestate.com.au">realestate.com.au</a>, Luke is now helping build a startup called <a href="http://popanything.com">Pop!</a></p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/vertis">@vertis</a>
      <a href="https://github.com/vertis">GitHub</a>
      <a href="http://vertis.io">Blog</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/josh-price.jpg"/>
    <header>
      <h3>Josh Price</h3>
      <p class="position">Vice President 2013</p>
    </header>

    <div class="bio">
      <p>Ruby / Javascript / Java Agilist. Founder of Canoniq. Apple tragic. Hack Night organiser. Bon vivant. Enthusiast. Coffee lover. Proud father.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/joshprice">@joshprice</a>
      <a href="https://github.com/joshprice">GitHub</a>
      <a href="http://joshprice.com/">Josh's site</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/dylan-lacey.jpg"/>
    <header>
      <h3>Dylan Lacey</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Dylan is a Ruby developer evangelist who thinks that computers will save the world - He's just not sure what from. He loves automating boring stuff, making software things and video games. He still can't fly.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/DylanLacey">@DylanLacey</a>
      <a href="https://github.com/DylanLacey">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/elle-meredith.jpg"/>
    <header>
      <h3>Elle Meredith</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Elle is a full stack web developer with more than ten years experience, and a unique background that bridges the gap between the front- and back-end. She has been working with Ruby and Rails since 2007 and as a full time Rails developer since 2009.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/aemeredith">@aemeredith</a>
      <a href="https://github.com/elle">GitHub</a>
      <a href="http://about.me/aemeredith">About Elle</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/john-barton.jpg"/>
    <header>
      <h3>John Barton</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Bicycle, book, and booze enthusiast. Rubyist. Co-founder of <a href='http://goodfil.ms'>http://goodfil.ms</a>.</p>
      <p>Former development team lead for Envato across their Marketplace products, John has been a long time member of the Australian Ruby community and has helped organise a couple of the Melbourne RailsCamps.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/johnbarton">@johnbarton</a>
      <a href="https://github.com/joho">GitHub</a>
      <a href="http://whoisjohnbarton.com/">John's site</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/lachie-cox.jpg"/>
    <header>
      <h3>Lachie Cox</h3>
      <p class="position">General Member</p>
    </header>
    <div class="contact">
      <a href="http://twitter.com/lachiecox">@lachiecox</a>
      <a href="https://github.com/lachie">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/ben-avatar.jpg"/>
    <header>
      <h3>Ben Schwarz</h3>
      <p class="position">President 2013</p>
    </header>

    <div class="contact">
      <a href="http://twitter.com/benschwarz">@benschwarz</a>
      <a href="http://germanforblack.com">Ben's site</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/ryan-avatar.jpg"/>
    <header>
      <h3>Ryan Bigg</h3>
      <p class="position">Secretary 2013</p>
    </header>

    <div class="bio">
      <p>Ryan Bigg lives in Melbourne, wrote <a href='http://manning.com/bigg2'>a Rails book</a> and works on <a href='http://spreecommerce.com'>Spree Commerce</a> full time.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/ryanbigg">@ryanbigg</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/martin-stannard.jpg"/>
    <header>
      <h3>Martin Stannard</h3>
      <p class="position">Vice President: Jun 2012 &ndash; Jun 2013</p>
    </header>

    <div class="bio">
      <p>Martin discovered Ruby in 2003 and his affair with it continues to this day. When not riding his bike he can be found as Team Lead at Blake eLearning, a company dedicated to helping children improve their literacy and numeracy skills.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/_martinS_">@_martinS_</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/warren-seen.jpg"/>
    <header>
      <h3>Warren Seen</h3>
      <p class="position">General Member: Jun 2012 &ndash; Jun 2013</p>
    </header>

    <div class="bio">
      <p>Rails Developer. Reformed Freelancer. Mashing keyboards until ruby comes out for @envato</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/warren_s">@warren_s</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/david-goodlad.jpg"/>
    <header>
      <h3>David Goodlad</h3>
      <p class="position">General Member: Jun 2012 &ndash; Jun 2013</p>
    </header>

    <div class="bio">
      <p>A native of Canada, David now lives in Melbourne and is an active member of the local Ruby community. He enjoys both attending and speaking at Ruby-related events, having presented talks at RailsConf Europe 2006 in London, and at RubyConf 2008 in Orlando.</p>
      <p>David is part of the development team behind the <a href="http://www.envato.com/">Envato</a> marketplaces, building and maintaining one of the longest-running public Ruby on Rails-based apps in Australia.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/dgoodlad">@dgoodlad</a>
      <a href="http://github.com/dgoodlad">GitHub</a>
      <a href="http://d.goodlad.net">David's Blog</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/keith-avatar.jpg"/>
    <header>
      <h3>Keith Pitty</h3>
      <p class="position">President: Jan 2012 &ndash; Jun 2012</p>
    </header>

    <div class="bio">
      <p>A long-time participant, former convener of and occasional presenter at Sydney Ruby meetups, Keith led the organisation of Rails Camp 9 at Lake Ainsworth in 2011 and co-organised the inaugural <a href="http://rubyconf.org.au">RubyConfAU</a> in Melbourne in 2013. He runs <a href="http://www.cockatoosoftware.com.au">Cockatoo Software</a>.</p>
      <p>Away from computers, he loves sport, especially cricket, golf and Aussie Rules. And single malt whisky.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/keithpitty">@keithpitty</a>
      <a href="http://au.linkedin.com/in/keithpitty">LinkedIn</a>
      <a href="https://github.com/keithpitty">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/richie-avatar.jpg"/>
    <header>
      <h3>Richie Khoo</h3>
      <p class="position">Secretary: Jan 2012 &ndash; Jun 2012</p>
    </header>
    <div class="bio">
      <p>Richie is a passionate Ruby Developer who recently moved to Adelaide but still moonlights in Melbourne.</p>
      <p>A member of Inspire 9 CoWorking and co-founder of AngelCube.com Melbourne's first startup venture accelerator, he is currently working on his own startup, NakedInsights an automation tool for Financial Advisers, and has a passion for helping people bring projects to reality.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/evolve2k">@evolve2k</a>
      <a href="http://au.linkedin.com/in/richiekhoo">LinkedIn</a>
      <a href="https://github.com/evolve2k">GitHub</a>
      <a href="http://zerply.com/richie">Zerply</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/ben-avatar.jpg"/>
    <header>
      <h3>Ben Schwarz</h3>
      <p class="position">General Member: Jan 2012 &ndash; Jun 2012</p>
    </header>
    <div class="contact">
      <a href="http://twitter.com/benschwarz">@benschwarz</a>
      <a href="http://germanforblack.com">Ben's site</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/sebastian-avatar.jpg"/>
    <header>
      <h3>Sebastian von Conrad</h3>
      <p class="position">Treasurer: Jan 2012 &ndash; Dec 2012</p>
    </header>

    <div class="bio">
      <p>After growing up in Sweden, Sebastian escaped to the US in 2007 and moved down under in 2009. He now lives in Melbourne with his partner and two fur children, and works as a development manager at <a href="http://www.envato.com">Envato</a>. He is also a certified baseball nut. Having organised Rails Camp X, he is excited to continue working with the Australian Ruby community.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/vonconrad">@vonconrad</a>
      <a href="http://au.linkedin.com/in/vonconrad">LinkedIn</a>
      <a href="https://github.com/vonconrad">GitHub</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/daniel-avatar.jpg"/>
    <header>
      <h3>Daniel Draper</h3>
      <p class="position">General Member: Jan 2012 &ndash; Jun 2012, Secretary: Jun 2012 &ndash; Dec 2012</p>
    </header>

    <div class="bio">
      <p>Dan is CEO of Tech Startup, <a href="http://www.codehire.com/">Codehire</a> and has been working with Rails since 2006. He is actively involved in Adelaide.rb and the Ruby community at large. Dan is passionate about promoting software and web development as a career choice for younger people and about open source software in business.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/danieldraper">@danieldraper</a>
      <a href="http://www.linkedin.com/in/ddraper">Linkedin</a>
    </div>
  </article>

  <article>
    <img src="/images/committee-members/nigel-avatar.jpg"/>
    <header>
      <h3>Nigel Rausch</h3>
      <p class="position">President 2012</p>
    </header>

    <div class="bio">
      <p>Nigel has a strong community spirit and is heavily involved organising Brisbane's Ruby, Javascript and WorkAtJelly meetups as well as mentoring friends and ex-colleagues in their business ventures.</p>
      <p>He is proud to be part of the Ruby Australia Association and is excited how it will make Ruby more visible to the wider community and to the Enterprise.</p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/NR99">@NR99</a>
      <a href="http://www.linkedin.com/in/nigelrausch">Linkedin</a>
    </div>
  </article>
</section>
