<section>
  <h1>Sponsorship</h1>
  <p>
    The founding purpose of Ruby Australia is to further the use and adoption of the Ruby programming
    language in Australia, and to support and encourage a vibrant community around the language and related
    technologies.
  </p>
  <p>
    Ruby Australia organises RubyConf AU, Rails Camps, meet ups, hack days and Rails Girls events. We rely on
    the support of both volunteers and companies in our community to be able to run these events.
  </p>
  <p>
    If you are interested in becoming a Ruby AU sponsor for 2016-17, please
    <a href="/files/annual_sponsorship.pdf">download our prospectus.</a>
  </p>
</section>
