<%= content_for :heading do %>
  Membership Terms and Conditions
<% end %>

<section>
  <header>
    <h3>Membership</h3>
  </header>
  <p>
    Membership gives you voting rights at general meetings and the ability to run for committee positions. We will notify you by email of upcoming general meetings and you will have the opportunity to add items to the meeting’s agenda.
  </p>
</section>

<!--
<section>
  <header>
    <h3>Mailing List</h3>
  </header>
  <p>If you want to be notified when a major event (like a Rails Camp or RubyConf) is coming up then you’ll want this switched on. We will also occasionally send updates regarding the goings on of Ruby Australia as a whole. We are committed to being light on these and you can opt-out of them at any time.</p>
</section>
-->

<section>
  <header>
    <h3>Data Security</h3>
  </header>

  <p>By law, members are entitled to inspect the member registry upon request. The purpose of this is to empower the membership to coordinate with each other irrespective of the committee. We expect this to be a very rare occurrence, with plenty of avenues for communication between members outside of this allowance. Nonetheless, there are circumstances where we are obligated to share your name and email with other members, and we suggest you choose your signup email with this in mind.</p>

  <p>You can see the legal requirements outlined on the <%= link_to "Consumer Affairs Victoria website", "https://www.consumer.vic.gov.au/clubs-and-fundraising/incorporated-associations/running-an-incorporated-association/membership" %>.</p>
</section>

<p>
  <%= link_to "Join Ruby Australia", new_user_registration_path %>
</p>
