<section>
  <h1>Treasury</h1>
  <p>
    To provide a consistent way for people organising Ruby events to get an official invoice created or make a claim, we ask you fill in one of these forms.
  </p>
  <h3>Invoices</h3>
  <p>
    To have us raise an invoice, please fill in 
    <a href="https://docs.google.com/forms/d/1OXgyLIeNBDw7tnwTpnnpwu3tDakjiNdcEMzALGDlnPM/viewform">this form</a>
  </p>
  <h3>Invoices</h3>
  <p>
    To claim a reimbursement, please fill in
    <a href="https://docs.google.com/forms/d/1-U_Huums-DO-BbXO92Nmtt6tcQlT7SR5bGR5UInCl08/viewform">this form</a>
  </p>
</section>
