<%= render "layouts/melbourne/navigation" %>
<div class="container mx-auto my-16">
  <div class="flex gap-4 mt-2 mb-1 pl-4">
    <div class="flex cursor-pointer rounded-md text-gray-500 hover:bg-[var(--code-off-white)] hover:text-gray-400">
      <%= link_to "Upcoming Events", melbourne_upcoming_events_path, class:"px-8 py-2" %>
    </div>
    <div class="font-bold py-2 border-b-3 border-b-[#0025CA] text-gray-500">Past Events</div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <%= render @events %>
  </div>
</div>
