<% content_for :heading, "Post" %>

<%= render @post %>
<div>
  <% if @post.editable? %>
    <%= link_to "Edit", admin_edit_post_path(@post) %>
  <% end %>
  <%= link_to "Back to posts", admin_posts_path %>
</div>
