<div class="grid grid-cols-1 col-start-1 row-start-1 row-span-2 grid-row-1 col-span-4 h-full min-h-[60dvh] bg-blue-700 overflow-hidden">
  <%= vite_image_tag("images/melbourne/bg-wall.jpg", class: "col-start-1 row-start-1 object-cover h-full") %>
  <div class="flex z-10 flex-col col-start-1 row-start-1 gap-2 justify-center items-center max-h-[60dvh] md:flex-row">
    <h1 class="sr-only">Ruby Melbourne</h1>
    <%= vite_image_tag("images/melbourne/logomark-graf.png", class: "text-white h-20 w-20 md:h-32 md:w-32") %>
    <%= vite_inline_svg("melbourne/logo-graf.svg", alt: 'Ruby Melbourne', class: "text-white h-18 md:h-32 md:w-86") %>
  </div>
</div>
