<article class="flex flex-col col-start-3 gap-6 mt-4">
  <div class="flex flex-col gap-2">
    <h2 class="text-3xl font-semibold text-black text-balance">Nothing scheduled yet</h2>
    <div class="grid grid-rows-1 justify-center items-center grids-cols-1">
      <p class="z-10 col-start-1 row-start-1 p-6 font-medium leading-6 text-center text-gray-600 text-pretty">
        Wanna give a talk at the meetup? <br><a href="https://github.com/rubyaustralia/melbourne-ruby/issues/new/choose" target="_blank" class="prose-link">Submit an issue with a proposal in our GitHub repo</a>.
      </p>
      <video autoplay loop muted class="col-start-1 row-start-1 w-full rounded opacity-50 h-fit">
        <source src="<%= vite_asset_path('videos/confused.mp4') %>" type="video/mp4">
      </video>
    </div>
  </div>
</article>
