
<article class="flex flex-col col-start-3 px-4 py-6">
  <% if @selected_event %>
    <%= render template: "melbourne/events/show", locals: { event: @selected_event } %>
  <% else %>
    <div class="event-detail">
      <p class="text-gray-500">Select an event to view details</p>
    </div>
  <% end %>
</article>
