<h2>Change your password</h2>
<p>Choose a new password below.</p>

<%= form_for :change_password,
    url: profile_password_path(token: params[:token]),
    method: :put do |form| %>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>
