<h2 class="rb-grey80">Change your password</h2>
<p>Choose a new password below.</p>

<%= form_for :change_password,
    url: profile_password_path(token: params[:token]),
    method: :put do |form| %>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit 'Update password', class: "anon-pro b h2 mt3 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-grey80 bg-rb-white rb-grey80 rb-white-hover b--rb-purple-hover bg-rb-purple-hover shadow-4 no-underline" %>
  </div>
<% end %>
