<h2 class="rb-grey80">Reset your password</h2>
<p>
  Please enter your email address to reset your password.
</p>

<%= form_for :change_password, url: passwords_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="submit-field">
    <%= form.submit 'Reset password', class: "anon-pro b h2 mt3 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-grey80 bg-rb-white rb-grey80 rb-white-hover b--rb-purple-hover bg-rb-purple-hover shadow-4 no-underline" %>
  </div>
<% end %>
