@tailwind preflight;
@tailwind components;
@tailwind utilities;

a {
  @apply text-pink no-underline border-0;
  transition: all 0.25s ease;

  &:hover {
    @apply text-pink-darker border-b border-pink;
  }
}

#meta {
  nav {
    header {
      a {
        border: none !important;
      }
    }
  }
}

nav {
  .actions {
    a, button {
      @apply block mt-3 mx-3 px-5 py-2 border-2 shadow border-pink font-mono text-pink text-center no-underline;
      transition: all 0.5s ease;

      &:hover {
        @apply bg-pink-darker text-white;
      }
    }
  }
}

#nav-primary {
  h3 {
    @apply mt-5 mb-2;
  }

  ul {
    @apply list-reset;

    li {
      @apply px-0 pb-2;
    }
  }
}

.events {
  #meetup-locations {
    @apply mt-3;

    li {
      @apply pb-2;

      a {
        @apply no-underline border-cyan border-b;

        &:hover {
          @apply border-purple;
        }
      }
    }
  }
}

#call-to-action {
  a {
    @apply text-purple w-5/6 my-4 mr-3 px-5 py-2 border-2 shadow bg-white border-purple text-purple no-underline font-mono;
    transition: all 0.25s ease;

    &:hover {
      @apply bg-purple-darker text-white;
    }
  }
}

#committee {
  &> article {
    @apply max-w-xs rounded shadow-lg m-5 flex-no-shrink flex flex-col;

    figure {
      @apply overflow-hidden;

      max-height: 320px;
    }

    header {
      @apply px-6 py-4;

      div:first-child {
        @apply font-bold text-xl mb-2;
      }

      div:nth-child(2) {
        @apply font-bold text-grey-darkest mb-2;
      }
    }

    main {
      @apply px-6 py-2;

      p {
        @apply text-grey-darker text-base;
      }
    }

    aside {
      @apply flex flex-grow flex-col p-3 justify-end;

      span {
        @apply bg-grey-lighter rounded-full px-3 py-2 text-sm font-semibold text-grey-darker m-1;
      }
    }
  }
}

#previous {
  article {
    @apply rounded shadow-lg m-5 flex-no-shrink flex flex-col p-5;

    img {
      width: 120px;
      align-self: flex-start;
    }
  }
}
