@tailwind preflight;
@tailwind components;
@tailwind utilities;

nav {
  .actions {
    a, button {
      @apply block mt-3 mx-3 px-5 py-2 border-2 shadow border-pink font-mono text-pink text-center no-underline;
      transition: all 0.5s ease;

      &:hover {
        @apply bg-pink-darker text-white;
      }
    }
  }
}

#nav-primary {
  h3 {
    @apply mt-5 mb-2;
  }

  a {
    @apply text-pink no-underline border-0;
    transition: all 0.25s ease;

    &:hover {
      @apply text-pink-darker border-b border-pink;
    }
  }

  ul {
    @apply list-reset;

    li {
      @apply px-0 pb-2;
    }
  }
}

.events {
  #meetup-locations {
    @apply mt-3;

    li {
      @apply pb-2;

      a {
        @apply no-underline border-cyan border-b;

        &:hover {
          @apply border-purple;
        }
      }
    }
  }
}

#call-to-action {
  a {
    @apply text-purple w-5/6 my-4 mr-3 px-5 py-2 border-2 shadow bg-white border-purple text-purple no-underline font-mono;
    transition: all 0.25s ease;

    &:hover {
      @apply bg-purple-darker text-white;
    }
  }
}
