@tailwind preflight;
@tailwind components;
@tailwind utilities;

p, li, div, span {
  &> a {
    @apply text-pink no-underline border-0;

    &:hover {
      @apply text-pink-darker border-b border-pink;
    }

    svg {
      fill: config('colors.pink');
      opacity: 0.5;
    }
  }
}

h1 {
  @apply text-xl bg-pink text-white h-12 pt-1 mb-5 pl-5 pt-3;
}

h2 {
  @apply text-xl text-pink-dark font-bold my-4 pl-5;
}

h3 {
  @apply text-lg text-pink-dark font-bold my-3 pl-5;
}

h4 {
  @apply text-lg text-pink-darkest font-bold mt-3 mb-2 pl-5;
}

p, li {
  @apply leading-normal text-grey-darkest px-5;
}

#meta {
  nav {
    header {
      a {
        border: none !important;
      }
    }
  }
}

nav {
  .actions {
    a, button {
      @apply block mt-3 mx-3 px-5 py-2 border-2 shadow border-pink font-mono text-pink text-center no-underline;
      transition: background-color 0.5s ease;

      &:hover {
        @apply bg-pink-darker text-white;
      }
    }
  }
}

#nav-primary {
  h3 {
    @apply mt-5 mb-2 p-0;
  }

  ul {
    @apply list-reset;

    li {
      @apply px-0 pb-2;
    }
  }
}

#in-person {
  #meetup-locations {
    @apply mt-3;

    list-style: disc outside none;

    li {
      @apply pb-2;

      a {
        @apply no-underline border-cyan border-b;

        &:hover {
          @apply border-purple;
        }
      }
    }
  }
}

.welcome {
  @apply text-xl;
  @apply max-w-md;
  @apply mx-4;

  h2 {
    @apply my-6;
  }

  p, ul {
    @apply mt-10;
    @apply my-6;
  }
}

#body {
  p {
    @apply mt-4;
  }

  li {
    @apply mt-1;
  }
}

.call-to-action {
  a {
    @apply text-purple w-5/6 my-4 mr-3 px-5 py-2 border-2 shadow bg-white border-purple text-purple no-underline font-mono;
    transition: all 0.25s ease;

    &:hover {
      @apply bg-purple-darker text-white;
    }
  }
}

#contributing {
  @apply text-white;
}
