

#committee {
  & > article {
    @apply max-w-xs rounded shadow-lg m-5 flex-no-shrink flex flex-col;

    figure {
      @apply overflow-hidden;

      max-height: 320px;
    }

    header {
      @apply px-6 py-4;

      div:first-child {
        @apply font-bold text-xl mb-2;
      }

      div:nth-child(2) {
        @apply font-bold text-grey-darkest mb-2;
      }
    }

    main {
      @apply px-6 py-2;

      p {
        @apply text-grey-darker text-base;
      }
    }

    aside {
      @apply flex flex-grow flex-col p-3 justify-end;

      span {
        @apply bg-grey-lighter rounded-full px-3 py-2 text-sm font-semibold text-grey-darker m-1;

        a {
          @apply text-purple;

          &:hover {
            @apply text-purple-darker;
          }
        }
      }
    }
  }
}

#previous {
  article {
    @apply rounded shadow-lg m-5 flex-no-shrink flex flex-col p-5;

    img {
      width: 120px;
      align-self: flex-start;
    }
  }
}
