.sponsor-logos {
  a {
    border: none !important;
  }

  img {
    margin: 25px;
  }

  .sponsor-logo-ruby {
    width: 300px;
  }

  .sponsor-logo-emerald {
    width: 300px;
  }

  .sponsor-logo-sapphire {
    width: 250px;
  }

  .sponsor-logo-opal {
    width: 150px;
  }

  .sponsor-logo-amber {
    width: 100px;
  }

  .opal-sponsors {
    h2 {
      margin: 0 0 16px 0;
    }
  }
}
