<%
  css_classes = class_names(
    "event-box cursor-pointer p-4 border rounded-lg hover:bg-gray-50 transition-colors bg-white border-gray-200",
    "aria-current-page:bg-blue-100 aria-current-page:border-blue-400"
  )
  extras = event == selected_event ? { aria: { current: "page" }} : {}
%>

<%= link_to event_path(event),
            class: css_classes,
            data: {
              current_page_target: "item",
              action: "current-page#setAriaCurrent",
              turbo_action: :replace
            },
            **extras do %>
  <%= tag.div id: dom_id(event) do %>
    <p class="font-medium"><%= event.date %></p>
    <p class="mt-1 text-sm text-gray-600"><%= event.summary %></p>
  <% end %>
<% end %>
