<%= link_to event_path(event), data: { turbo_frame: "event_show" } do %>
  <div class="event-box" id="<%= dom_id(event) %>">
    <p><%= event.date %></p>
    <p><%= event.summary %></p>
  </div>
<% end %>
