<div class="flex flex-col gap-2 border-l-4 pl-4 border-[#0D37F2]">
  <h4 class="text-xl font-semibold text-black"><%= talk.title %></h4>
  <p class="font-medium leading-5 text-black"><%= talk.speakers.map(&:name).to_sentence %></p>

  <p class="text-black"><%= talk.description %></p>

  <div class="grid grid-cols-2 gap-4 mt-1 w-full">
    <% talk.speakers.each do |speaker| %>
      <div class="flex flex-row gap-2 items-center w-full">
        <div class="flex flex-col">
          <p class="font-medium leading-5 text-black"><%= speaker.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
