<aside class="col-start-1 left-0 sticky top-[50px] h-[calc(100dvh-50px)]" style="overscroll-behavior: contain; scrollbar-width: none;">
  <div class="flex overflow-y-auto absolute top-0 left-0 flex-col gap-2 py-6 w-12 h-full">
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="w-1/2 h-px border-t border-gray-400"/>
    <hr class="border-t border-gray-400"/>
  </div>
</aside>
