<% set_meta_tags title: "Events",
                 description: "All past Ruby Australia events with talks, videos and short summaries",
                 keywords: "Events" %>

<div class="container mx-auto">
  <div class="space-y-4">
    <%= render @events %>
  </div>
</div>
