<h1>Contact Ruby Australia</h1>

<ul>
  <li>
    <%= link_to 'Twitter (@rubyaustralia)', "http://twitter.com/rubyaustralia" %>
  </li>
  <li>
    <%= link_to 'Email', "mailto:contact@ruby.org.au" %>
  </li>
</ul>

<p>Or via post:</p>

Ruby Australia<br>
PO Box 221<br>
Collins Street West, VIC 8007, Australia

