@import "tachyons.min";

@import "variables";
@import "animations";
@import "functions";
@import "identity";

.jumbotron {
  margin-top: 2.5rem;

  img {
    width: 50%;
  }
}

#toc {
  a {
    font-size: 80%;
  }

  ul li {
    padding: 0;
    margin: 0;
  }
}
