/* Variables.css - `CSS Variables Only */

/* Functions.css - classes only, max size 9 characters */

/*--Typefaces--*/

.poppins{
  font-family: 'Poppins', sans-serif;
}

.anon-pro{
  font-family: 'Anonymous Pro', monospace;
}

.baseline {
  background-image: linear-gradient(to bottom, red 1px, transparent 0, transparent 29px);
  background-size: 100% 30px;
  background-position: 0 -2px;
}

/*--Colour Palette--*/

/*--rb-red--*/

.rb-red {
  color: #FF0162;
}
.bg-rb-red {
  background-color: #FF0162;
}
.b--rb-red {
  border-color: #FF0162;
}

/*--rb-white--*/

.rb-white {
    color: #FFF;
}
.rb-white-hover:hover {
  color: #FFF;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.bg-rb-white {
  background-color: #FFF;
}
.b--rb-white {
  border-color: #FFF;
}
.b--rb-white-hover:hover {
  border-color: #FFF;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}
/*--rb-purple--*/

.rb-purple {
  color: #7D1EF0;
}
.rb-purple-hover:hover {
  color: #7D1EF0;
}
.rb-purple-focus {
  color: #7D1EF0;
}

.bg-rb-purple {
  background-color: #7D1EF0;
}
.bg-rb-purple-hover:hover{
  background-color: #7D1EF0;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.b--rb-purple {
  border-color: #7D1EF0;
}
.b--rb-purple-hover:hover {
  border-color: #7D1EF0;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

/*--Is this correct?--*/
.hover-.rb-purple:hover {
  color: #7D1EF0;
}

/*--rb-blue--*/
.rb-blue {
  color: #1EF0E6;
}
.bg-rb-blue {
  background-color: #1EF0E6;
}
.b--rb-blue {
  border-color: #1EF0E6;
}

/*--rb-pink--*/
.rb-pink {
  color: #EC008B;
}
.bg-rb-pink {
  background-color: #EC008B;
}
.b--rb-pink {
  border-color: #EC008B;
}

/*--rb-grey--*/
.rb-grey {
  color: #595859;
}
.bg-rb-grey {
  background-color: #595859;
}
.b--rb-grey {
  border-color: #595859;
}

/*--rb-grey80--*/
.rb-grey80 {
  color: #9B9B9B;
}
.bg-rb-grey80 {
  background-color: #9B9B9B;
}
.b--rb-grey80 {
  border-color: #9B9B9B;
}

/*--rb-grey50--*/
.rb-grey50 {
  color: #C9C7CA;
}
.bg-rb-grey50 {
  background-color: #C9C7CA;
}
.b--rb-grey50 {
  border-color: #C9C7CA;
}

/*--rb-grey30--*/
.rb-grey30 {
  color: #F1EFF2;
}
.bg-rb-grey30 {
  background-color: #F1EFF2;
}
.b--rb-grey30 {
  border-color: #F1EFF2;
}


/*--rb-dark-red--*/
.rb-dark-red {
  color: #800131;
}
.bg-rb-dark-red {
  background-color: #800131;
}
.b--rb-dark-red {
  border-color: #800131;
}

/*--rb-dark-red50--*/
.rb-dark-red50 {
  color: #D8055A;
}
.bg-rb-dark-red50 {
  background-color: #D8055A;
}
.b--rb-dark-red50 {
  border-color: #D8055A;
}

/*--rb-lgtred--*/
.rb-light-red {
  color: #FF3481;
}
.bg-rb-light-red {
  background-color: #FF3481;
}
.b--rb-light-red {
  border-color: #FF3481;
}

/*--rb-lgtred50--*/
.rb-light-red50 {
  color: #FF99C0;
}
.bg-rb-light-red50 {
  background-color: #FF99C0;
}
.b--rb-light-red50 {
  border-color: #FF99C0;
}

/*--Custom Elements--*/
.ba2{
  border-style: solid;
  border-width: 2px;
}
.bw175 {
    border-width: 3.5px;
    border-width: 2.88px;
    border-width: 2.88px;
    border-width: .18rem;
}
.left-28{
  left: 448px;
  left: 448px;
  left: 28rem;
}
.flex-wrap-left:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.w0{
  width: 0;
}
.w6{
  width:192px;
  width:192px;
  width:12rem;
  width:242;
}
.h6{
  height: 360px;
  height: 360px;
  height: 22.5rem;
  height: 450px;
}
.shadow-6{
  -webkit-box-shadow: 0px 2px 4px #9B9B9B;
          box-shadow: 0px 2px 4px #9B9B9B;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3N0eWxlc2hlZXRzX3NvdXJjZS9mdW5jdGlvbnMuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLHlDQUF5Qzs7QUFrQnpDLHlEQUF5RDs7QUFFekQsaUJBQWlCOztBQUVqQjtFQUNFLG1DQUFtQztDQUNwQzs7QUFFRDtFQUNFLHdDQUF3QztDQUN6Qzs7QUFFRDtFQUNFLHVGQUF1RjtFQUN2RiwyQkFBMkI7RUFDM0IsNEJBQTRCO0NBQzdCOztBQUVELHNCQUFzQjs7QUFFdEIsY0FBYzs7QUFFZDtFQUNFLGVBQXFCO0NBQ3RCO0FBQ0Q7RUFDRSwwQkFBZ0M7Q0FDakM7QUFDRDtFQUNFLHNCQUE0QjtDQUM3Qjs7QUFFRCxnQkFBZ0I7O0FBRWhCO0lBQ0ksWUFBdUI7Q0FDMUI7QUFDRDtFQUNFLFlBQXVCO0VBQ3ZCLHVDQUF1QztFQUN2QywrQkFBK0I7Q0FDaEM7QUFDRDtFQUNFLHVCQUFrQztDQUNuQztBQUNEO0VBQ0UsbUJBQThCO0NBQy9CO0FBQ0Q7RUFDRSxtQkFBOEI7RUFDOUIsOENBQThDO0VBQzlDLHNDQUFzQztDQUN2QztBQUNELGlCQUFpQjs7QUFFakI7RUFDRSxlQUF3QjtDQUN6QjtBQUNEO0VBQ0UsZUFBd0I7Q0FDekI7QUFDRDtFQUNFLGVBQXdCO0NBQ3pCOztBQUVEO0VBQ0UsMEJBQW1DO0NBQ3BDO0FBQ0Q7RUFDRSwwQkFBbUM7RUFDbkMsa0RBQWtEO0VBQ2xELDBDQUEwQztDQUMzQzs7QUFFRDtFQUNFLHNCQUErQjtDQUNoQztBQUNEO0VBQ0Usc0JBQStCO0VBQy9CLDhDQUE4QztFQUM5QyxzQ0FBc0M7Q0FDdkM7O0FBRUQsd0JBQXdCO0FBQ3hCO0VBQ0UsZUFBd0I7Q0FDekI7O0FBRUQsZUFBZTtBQUNmO0VBQ0UsZUFBc0I7Q0FDdkI7QUFDRDtFQUNFLDBCQUFpQztDQUNsQztBQUNEO0VBQ0Usc0JBQTZCO0NBQzlCOztBQUVELGVBQWU7QUFDZjtFQUNFLGVBQXNCO0NBQ3ZCO0FBQ0Q7RUFDRSwwQkFBaUM7Q0FDbEM7QUFDRDtFQUNFLHNCQUE2QjtDQUM5Qjs7QUFFRCxlQUFlO0FBQ2Y7RUFDRSxlQUFzQjtDQUN2QjtBQUNEO0VBQ0UsMEJBQWlDO0NBQ2xDO0FBQ0Q7RUFDRSxzQkFBNkI7Q0FDOUI7O0FBRUQsaUJBQWlCO0FBQ2pCO0VBQ0UsZUFBd0I7Q0FDekI7QUFDRDtFQUNFLDBCQUFtQztDQUNwQztBQUNEO0VBQ0Usc0JBQStCO0NBQ2hDOztBQUVELGlCQUFpQjtBQUNqQjtFQUNFLGVBQXdCO0NBQ3pCO0FBQ0Q7RUFDRSwwQkFBbUM7Q0FDcEM7QUFDRDtFQUNFLHNCQUErQjtDQUNoQzs7QUFFRCxpQkFBaUI7QUFDakI7RUFDRSxlQUF3QjtDQUN6QjtBQUNEO0VBQ0UsMEJBQW1DO0NBQ3BDO0FBQ0Q7RUFDRSxzQkFBK0I7Q0FDaEM7OztBQUdELG1CQUFtQjtBQUNuQjtFQUNFLGVBQTBCO0NBQzNCO0FBQ0Q7RUFDRSwwQkFBcUM7Q0FDdEM7QUFDRDtFQUNFLHNCQUFpQztDQUNsQzs7QUFFRCxxQkFBcUI7QUFDckI7RUFDRSxlQUE0QjtDQUM3QjtBQUNEO0VBQ0UsMEJBQXVDO0NBQ3hDO0FBQ0Q7RUFDRSxzQkFBbUM7Q0FDcEM7O0FBRUQsaUJBQWlCO0FBQ2pCO0VBQ0UsZUFBMkI7Q0FDNUI7QUFDRDtFQUNFLDBCQUFzQztDQUN2QztBQUNEO0VBQ0Usc0JBQWtDO0NBQ25DOztBQUVELG1CQUFtQjtBQUNuQjtFQUNFLGVBQTZCO0NBQzlCO0FBQ0Q7RUFDRSwwQkFBd0M7Q0FDekM7QUFDRDtFQUNFLHNCQUFvQztDQUNyQzs7QUFFRCx1QkFBdUI7QUFDdkI7RUFDRSxvQkFBb0I7RUFDcEIsa0JBQWtCO0NBQ25CO0FBQ0Q7SUFDSSxvQkFBb0I7SUFDcEIscUJBQXFCO0lBQ3JCLHFCQUFxQjtJQUFyQixxQkFBcUI7Q0FDeEI7QUFDRDtFQUNFLFlBQVk7RUFDWixZQUFZO0VBQVosWUFBWTtDQUNiO0FBQ0Q7RUFDRSxZQUFZO0VBQ1osb0JBQW9CO01BQ2hCLGVBQWU7VUFDWCxXQUFXO0NBQ3BCO0FBQ0Q7RUFDRSxTQUFTO0NBQ1Y7QUFDRDtFQUNFLFlBQVk7RUFDWixZQUFZO0VBQVosWUFBWTtFQUNaLFVBQVU7Q0FDWDtBQUNEO0VBQ0UsY0FBYztFQUNkLGNBQWdCO0VBQWhCLGdCQUFnQjtFQUNoQixjQUFjO0NBQ2Y7QUFDRDtFQUNFLHdDQUF3QztVQUNoQyxnQ0FBZ0M7Q0FDekMiLCJmaWxlIjoiZnVuY3Rpb25zLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIFZhcmlhYmxlcy5jc3MgLSBgQ1NTIFZhcmlhYmxlcyBPbmx5ICovXG5cbjpyb290IHtcbiAgLS1yYi1yZWQ6ICNGRjAxNjI7XG4gIC0tcmItcHVycGxlOiAjN0QxRUYwO1xuICAtLXJiLWJsdWU6ICMxRUYwRTY7XG4gIC0tcmItcGluazogI0VDMDA4QjtcbiAgLS1yYi13aGl0ZTogI0ZGRjtcbiAgLS1yYi1ncmV5OiAjNTk1ODU5O1xuICAtLXJiLWdyZXk4MDogIzlCOUI5QjtcbiAgLS1yYi1ncmV5NTA6ICNDOUM3Q0E7XG4gIC0tcmItZ3JleTMwOiAjRjFFRkYyO1xuICAtLXJiLWRhcmstcmVkOiAjODAwMTMxO1xuICAtLXJiLWRhcmstcmVkNTA6ICNEODA1NUE7XG4gIC0tcmItbGlnaHQtcmVkOiAjRkYzNDgxO1xuICAtLXJiLWxpZ2h0LXJlZDUwOiAjRkY5OUMwO1xufVxuXG4vKiBGdW5jdGlvbnMuY3NzIC0gY2xhc3NlcyBvbmx5LCBtYXggc2l6ZSA5IGNoYXJhY3RlcnMgKi9cblxuLyotLVR5cGVmYWNlcy0tKi9cblxuLnBvcHBpbnN7XG4gIGZvbnQtZmFtaWx5OiAnUG9wcGlucycsIHNhbnMtc2VyaWY7XG59XG5cbi5hbm9uLXByb3tcbiAgZm9udC1mYW1pbHk6ICdBbm9ueW1vdXMgUHJvJywgbW9ub3NwYWNlO1xufVxuXG4uYmFzZWxpbmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCByZWQgMXB4LCB0cmFuc3BhcmVudCAwLCB0cmFuc3BhcmVudCAyOXB4KTtcbiAgYmFja2dyb3VuZC1zaXplOiAxMDAlIDMwcHg7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IDAgLTJweDtcbn1cblxuLyotLUNvbG91ciBQYWxldHRlLS0qL1xuXG4vKi0tcmItcmVkLS0qL1xuXG4ucmItcmVkIHtcbiAgY29sb3I6IHZhcigtLXJiLXJlZCk7XG59XG4uYmctcmItcmVkIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tcmItcmVkKTtcbn1cbi5iLS1yYi1yZWQge1xuICBib3JkZXItY29sb3I6IHZhcigtLXJiLXJlZCk7XG59XG5cbi8qLS1yYi13aGl0ZS0tKi9cblxuLnJiLXdoaXRlIHtcbiAgICBjb2xvcjogdmFyKC0tcmItd2hpdGUpO1xufVxuLnJiLXdoaXRlLWhvdmVyOmhvdmVyIHtcbiAgY29sb3I6IHZhcigtLXJiLXdoaXRlKTtcbiAgLXdlYmtpdC10cmFuc2l0aW9uOiBjb2xvciAyMDBtcyBsaW5lYXI7XG4gIHRyYW5zaXRpb246IGNvbG9yIDIwMG1zIGxpbmVhcjtcbn1cbi5iZy1yYi13aGl0ZSB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXJiLXdoaXRlKTtcbn1cbi5iLS1yYi13aGl0ZSB7XG4gIGJvcmRlci1jb2xvcjogdmFyKC0tcmItd2hpdGUpO1xufVxuLmItLXJiLXdoaXRlLWhvdmVyOmhvdmVyIHtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1yYi13aGl0ZSk7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogYm9yZGVyLWNvbG9yIDIwMG1zIGxpbmVhcjtcbiAgdHJhbnNpdGlvbjogYm9yZGVyLWNvbG9yIDIwMG1zIGxpbmVhcjtcbn1cbi8qLS1yYi1wdXJwbGUtLSovXG5cbi5yYi1wdXJwbGUge1xuICBjb2xvcjogdmFyKC0tcmItcHVycGxlKTtcbn1cbi5yYi1wdXJwbGUtaG92ZXI6aG92ZXIge1xuICBjb2xvcjogdmFyKC0tcmItcHVycGxlKTtcbn1cbi5yYi1wdXJwbGUtZm9jdXMge1xuICBjb2xvcjogdmFyKC0tcmItcHVycGxlKTtcbn1cblxuLmJnLXJiLXB1cnBsZSB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXJiLXB1cnBsZSk7XG59XG4uYmctcmItcHVycGxlLWhvdmVyOmhvdmVye1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1yYi1wdXJwbGUpO1xuICAtd2Via2l0LXRyYW5zaXRpb246IGJhY2tncm91bmQtY29sb3IgMjAwbXMgbGluZWFyO1xuICB0cmFuc2l0aW9uOiBiYWNrZ3JvdW5kLWNvbG9yIDIwMG1zIGxpbmVhcjtcbn1cblxuLmItLXJiLXB1cnBsZSB7XG4gIGJvcmRlci1jb2xvcjogdmFyKC0tcmItcHVycGxlKTtcbn1cbi5iLS1yYi1wdXJwbGUtaG92ZXI6aG92ZXIge1xuICBib3JkZXItY29sb3I6IHZhcigtLXJiLXB1cnBsZSk7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogYm9yZGVyLWNvbG9yIDIwMG1zIGxpbmVhcjtcbiAgdHJhbnNpdGlvbjogYm9yZGVyLWNvbG9yIDIwMG1zIGxpbmVhcjtcbn1cblxuLyotLUlzIHRoaXMgY29ycmVjdD8tLSovXG4uaG92ZXItLnJiLXB1cnBsZTpob3ZlciB7XG4gIGNvbG9yOiB2YXIoLS1yYi1wdXJwbGUpO1xufVxuXG4vKi0tcmItYmx1ZS0tKi9cbi5yYi1ibHVlIHtcbiAgY29sb3I6IHZhcigtLXJiLWJsdWUpO1xufVxuLmJnLXJiLWJsdWUge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1yYi1ibHVlKTtcbn1cbi5iLS1yYi1ibHVlIHtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1yYi1ibHVlKTtcbn1cblxuLyotLXJiLXBpbmstLSovXG4ucmItcGluayB7XG4gIGNvbG9yOiB2YXIoLS1yYi1waW5rKTtcbn1cbi5iZy1yYi1waW5rIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tcmItcGluayk7XG59XG4uYi0tcmItcGluayB7XG4gIGJvcmRlci1jb2xvcjogdmFyKC0tcmItcGluayk7XG59XG5cbi8qLS1yYi1ncmV5LS0qL1xuLnJiLWdyZXkge1xuICBjb2xvcjogdmFyKC0tcmItZ3JleSk7XG59XG4uYmctcmItZ3JleSB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXJiLWdyZXkpO1xufVxuLmItLXJiLWdyZXkge1xuICBib3JkZXItY29sb3I6IHZhcigtLXJiLWdyZXkpO1xufVxuXG4vKi0tcmItZ3JleTgwLS0qL1xuLnJiLWdyZXk4MCB7XG4gIGNvbG9yOiB2YXIoLS1yYi1ncmV5ODApO1xufVxuLmJnLXJiLWdyZXk4MCB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXJiLWdyZXk4MCk7XG59XG4uYi0tcmItZ3JleTgwIHtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1yYi1ncmV5ODApO1xufVxuXG4vKi0tcmItZ3JleTUwLS0qL1xuLnJiLWdyZXk1MCB7XG4gIGNvbG9yOiB2YXIoLS1yYi1ncmV5NTApO1xufVxuLmJnLXJiLWdyZXk1MCB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXJiLWdyZXk1MCk7XG59XG4uYi0tcmItZ3JleTUwIHtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1yYi1ncmV5NTApO1xufVxuXG4vKi0tcmItZ3JleTMwLS0qL1xuLnJiLWdyZXkzMCB7XG4gIGNvbG9yOiB2YXIoLS1yYi1ncmV5MzApO1xufVxuLmJnLXJiLWdyZXkzMCB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXJiLWdyZXkzMCk7XG59XG4uYi0tcmItZ3JleTMwIHtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1yYi1ncmV5MzApO1xufVxuXG5cbi8qLS1yYi1kYXJrLXJlZC0tKi9cbi5yYi1kYXJrLXJlZCB7XG4gIGNvbG9yOiB2YXIoLS1yYi1kYXJrLXJlZCk7XG59XG4uYmctcmItZGFyay1yZWQge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1yYi1kYXJrLXJlZCk7XG59XG4uYi0tcmItZGFyay1yZWQge1xuICBib3JkZXItY29sb3I6IHZhcigtLXJiLWRhcmstcmVkKTtcbn1cblxuLyotLXJiLWRhcmstcmVkNTAtLSovXG4ucmItZGFyay1yZWQ1MCB7XG4gIGNvbG9yOiB2YXIoLS1yYi1kYXJrLXJlZDUwKTtcbn1cbi5iZy1yYi1kYXJrLXJlZDUwIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tcmItZGFyay1yZWQ1MCk7XG59XG4uYi0tcmItZGFyay1yZWQ1MCB7XG4gIGJvcmRlci1jb2xvcjogdmFyKC0tcmItZGFyay1yZWQ1MCk7XG59XG5cbi8qLS1yYi1sZ3RyZWQtLSovXG4ucmItbGlnaHQtcmVkIHtcbiAgY29sb3I6IHZhcigtLXJiLWxpZ2h0LXJlZCk7XG59XG4uYmctcmItbGlnaHQtcmVkIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tcmItbGlnaHQtcmVkKTtcbn1cbi5iLS1yYi1saWdodC1yZWQge1xuICBib3JkZXItY29sb3I6IHZhcigtLXJiLWxpZ2h0LXJlZCk7XG59XG5cbi8qLS1yYi1sZ3RyZWQ1MC0tKi9cbi5yYi1saWdodC1yZWQ1MCB7XG4gIGNvbG9yOiB2YXIoLS1yYi1saWdodC1yZWQ1MCk7XG59XG4uYmctcmItbGlnaHQtcmVkNTAge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1yYi1saWdodC1yZWQ1MCk7XG59XG4uYi0tcmItbGlnaHQtcmVkNTAge1xuICBib3JkZXItY29sb3I6IHZhcigtLXJiLWxpZ2h0LXJlZDUwKTtcbn1cblxuLyotLUN1c3RvbSBFbGVtZW50cy0tKi9cbi5iYTJ7XG4gIGJvcmRlci1zdHlsZTogc29saWQ7XG4gIGJvcmRlci13aWR0aDogMnB4O1xufVxuLmJ3MTc1IHtcbiAgICBib3JkZXItd2lkdGg6IDMuNXB4O1xuICAgIGJvcmRlci13aWR0aDogMi44OHB4O1xuICAgIGJvcmRlci13aWR0aDogLjE4cmVtO1xufVxuLmxlZnQtMjh7XG4gIGxlZnQ6IDQ0OHB4O1xuICBsZWZ0OiAyOHJlbTtcbn1cbi5mbGV4LXdyYXAtbGVmdDphZnRlciB7XG4gIGNvbnRlbnQ6IFwiXCI7XG4gIC13ZWJraXQtYm94LWZsZXg6IDE7XG4gICAgICAtbXMtZmxleDogYXV0bztcbiAgICAgICAgICBmbGV4OiBhdXRvO1xufVxuLncwe1xuICB3aWR0aDogMDtcbn1cbi53NntcbiAgd2lkdGg6MTkycHg7XG4gIHdpZHRoOjEycmVtO1xuICB3aWR0aDoyNDI7XG59XG4uaDZ7XG4gIGhlaWdodDogMzYwcHg7XG4gIGhlaWdodDogMjIuNXJlbTtcbiAgaGVpZ2h0OiA0NTBweDtcbn1cbi5zaGFkb3ctNntcbiAgLXdlYmtpdC1ib3gtc2hhZG93OiAwcHggMnB4IDRweCAjOUI5QjlCO1xuICAgICAgICAgIGJveC1zaGFkb3c6IDBweCAycHggNHB4ICM5QjlCOUI7XG59Il19 */