/* Variables.css - `CSS Variables Only */

/* Functions.css - classes only, max size 9 characters */

/*--Typefaces--*/

.poppins{
  font-family: 'Poppins', sans-serif;
}

.anon-pro{
  font-family: 'Anonymous Pro', monospace;
}

.baseline {
  background-image: linear-gradient(to bottom, red 1px, transparent 0, transparent 29px);
  background-size: 100% 30px;
  background-position: 0 -2px;
}

/*--Colour Palette--*/

/*--rb-red--*/

.rb-red {
  color: #FF0162;
}
.bg-rb-red {
  background-color: #FF0162;
}
.b--rb-red {
  border-color: #FF0162;
}

/*--rb-white--*/

.rb-white {
    color: #FFF;
}
.rb-white-hover:hover {
  color: #FFF;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.bg-rb-white {
  background-color: #FFF;
}
.b--rb-white {
  border-color: #FFF;
}
.b--rb-white-hover:hover {
  border-color: #FFF;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}
/*--rb-purple--*/

.rb-purple {
  color: #7D1EF0;
}
.rb-purple-hover:hover {
  color: #7D1EF0;
}
.rb-purple-focus {
  color: #7D1EF0;
}

.bg-rb-purple {
  background-color: #7D1EF0;
}
.bg-rb-purple-hover:hover{
  background-color: #7D1EF0;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.b--rb-purple {
  border-color: #7D1EF0;
}
.b--rb-purple-hover:hover {
  border-color: #7D1EF0;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

/*--Is this correct?--*/
.hover-.rb-purple:hover {
  color: #7D1EF0;
}

/*--rb-blue--*/
.rb-blue {
  color: #1EF0E6;
}
.bg-rb-blue {
  background-color: #1EF0E6;
}
.b--rb-blue {
  border-color: #1EF0E6;
}

/*--rb-pink--*/
.rb-pink {
  color: #EC008B;
}
.bg-rb-pink {
  background-color: #EC008B;
}
.b--rb-pink {
  border-color: #EC008B;
}

/*--rb-grey--*/
.rb-grey {
  color: #595859;
}
.bg-rb-grey {
  background-color: #595859;
}
.b--rb-grey {
  border-color: #595859;
}

/*--rb-grey80--*/
.rb-grey80 {
  color: #9B9B9B;
}
.bg-rb-grey80 {
  background-color: #9B9B9B;
}
.b--rb-grey80 {
  border-color: #9B9B9B;
}

/*--rb-grey50--*/
.rb-grey50 {
  color: #C9C7CA;
}
.bg-rb-grey50 {
  background-color: #C9C7CA;
}
.b--rb-grey50 {
  border-color: #C9C7CA;
}

/*--rb-grey30--*/
.rb-grey30 {
  color: #F1EFF2;
}
.bg-rb-grey30 {
  background-color: #F1EFF2;
}
.b--rb-grey30 {
  border-color: #F1EFF2;
}


/*--rb-dark-red--*/
.rb-dark-red {
  color: #800131;
}
.bg-rb-dark-red {
  background-color: #800131;
}
.b--rb-dark-red {
  border-color: #800131;
}

/*--rb-dark-red50--*/
.rb-dark-red50 {
  color: #D8055A;
}
.bg-rb-dark-red50 {
  background-color: #D8055A;
}
.b--rb-dark-red50 {
  border-color: #D8055A;
}

/*--rb-lgtred--*/
.rb-light-red {
  color: #FF3481;
}
.bg-rb-light-red {
  background-color: #FF3481;
}
.b--rb-light-red {
  border-color: #FF3481;
}

/*--rb-lgtred50--*/
.rb-light-red50 {
  color: #FF99C0;
}
.bg-rb-light-red50 {
  background-color: #FF99C0;
}
.b--rb-light-red50 {
  border-color: #FF99C0;
}

/*--Custom Elements--*/
.ba2{
  border-style: solid;
  border-width: 2px;
}
.bw175 {
    border-width: 3.5px;
    border-width: 2.88px;
    border-width: 2.88px;
    border-width: .18rem;
}
.left-28{
  left: 448px;
  left: 448px;
  left: 28rem;
}
.flex-wrap-left:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.w0{
  width: 0;
}
.w6{
  width:192px;
  width:192px;
  width:12rem;
  width:242;
}
.h6{
  height: 360px;
  height: 360px;
  height: 22.5rem;
  height: 450px;
}
.shadow-6{
  -webkit-box-shadow: 0px 2px 4px #9B9B9B;
          box-shadow: 0px 2px 4px #9B9B9B;
}