/* Identity.css - native html elements only, no class or ids */

html{
  font-family: 'Poppins', sans-serif;
  font-size:  20px; /* 15pt */
}

body{
  line-height: 1.5;  /* == 30px == 1.5 rem */
}

section,.section{
  /*margin-left:  15px;
  margin-right: 15px;
  margin: auto;*/
  /*max-width: 660px;
  max-width: 33rem;*/
}

/* Typography */

/*HEADERS*/
h1 {
  font-size: 2.369em; /* 47.37px */
  line-height: 60px; /* 2lh */
  margin-top: 30px;
  margin-bottom: 30px;

  font-weight: bold;
  color: #FF0162;
}

h2 {
  font-size: 26.66px;
  line-height: 36px; /* 1.5lh */
  margin-top: 30px;  /* teaching this font size where the baseline is */
  margin-bottom: 15px;
  font-weight: bold;
}

h3 {
  font-size: 26.66px;
  line-height: 45px;
  font-weight: normal;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

h5 {
  font-size: 1.777em; /* 35.54px */
}

h6 {
  font-size: 1em;
  font-weight: bold; /* 35.54px */
}

/*LOGICAL MARKUP*/
em {
  font-size: 20px;
  font-size: 20px;
  font-size: 1rem;
  line-height: 30px;
  font-style: italic;
}

strong {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 10px;
  line-height: 30px;
  background-color: #F1EFF2;
}

/*GROUPING ELEMENTS*/
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

blockquote {
  font-family: 'Anonymous Pro', monospace;
  font-size: 26.66px;
  line-height: 30px;
  color: #FF0162;
  font-weight: bold;
  padding: 22.5px 0 30px 22.5px;
  border-left: solid thick #FF0162;
}

/*LISTS*/
ol {
  counter-reset: primary-list-counter;
  padding-left: 40px;
  padding-left: 40px;
  padding-left: 2rem;
}

ol>li:before {
  position: absolute;
  content: counter(primary-list-counter);
  counter-increment: primary-list-counter;
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  font-size: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #FF0162;
  border-right: solid 2px;
  border-right-color: #FF0162;
  background-color: transparent;
  width: 20px;
  width: 20px;
  width: 1rem;
  height: 30px;
  height: 30px;
  height: 1.5rem;
  text-align: center;
  margin-left: -50px;
  margin-left: -50px;
  margin-left: -2.5rem;
}

ol>li {
  list-style-type: none;
  padding-top: 3px;
  padding-top: 3px;
  padding-top: .15rem;
  margin: 20px;
  margin: 20px;
  margin: 1rem;
}

ul>li {
  list-style: unset;
  color:black;
  font-size: 20px;
  font-size: 20px;
  font-size: 1rem;
  margin: 20px;
  margin: 20px;
  margin: 1rem;
  padding-top: 3px;
  padding-top: 3px;
  padding-top: .15rem;
  margin-left: -30px;
}
ul.bullet {
  list-style: disc;
  list-style-type: disc;
  margin-left: 15px;
}
ul.bullet:before {
  /*background-color: red;*/
}

/*FORMS*/
input.label{
  border-style: none none solid none;
}

input:focus {
  border-bottom-color: #7D1EF0;
}

/*INTERACTIVE ELEMENTS*/

a, a:visited{
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-color: #1EF0E6;
          text-decoration-color: #1EF0E6;
}

a[href ^= "http"]:after {
  content: " " url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAATCAYAAAB/TkaLAAAAAXNSR0IArs4c6QAAApNJREFUOBGdlE1MFDEUx/s6s7tlP4D1A5WDMSExfiXGGIwaPRiMMahRjCdFEIy4HETCUZEgauDiET3IRb1y8ANjCEpEvagnEhMSuSEhaGD47O7Mzkxru8msQxd2jU0mfe/1/35tX6cF9B+tI7XY9yxNGxnnoKYf1EM/dRmsWVoqK8XOAxOxHcLVZEyogUnD17bjwGhXUXFiM9YG4oAbZrmbA53mbhm0JRcPDzupEYO5egQwysziA/nNU4GimZ5wyUYZe2QtX3xi0eezzMV+zTZNt6BmeWZyzHXKb5LY3UQw/FAILL9IsV2AvxtooMb397a526/JQHctTLNjemi0NxLf5x8sZF+lxuCQbZ5QdRKKlzmDAIbf6mA+v5Eabz2gKBlvItGX67HGvZwV9fCC+for1HjzzjZPSo0EJkj0VjspPtdKok0STADcfOeSw66nxsCwbVZ7wGYSa28JRXqkXx+M9PU7yUXKeBRtnZ/iran5wRyCErhMjVdSK7+d4hx6LXpHkWTdf1rpJWq8GLHNMzJLbrmFxLqaQ5F7WYpiFKxpLZ3t/2SbZz1gK4ndF8DOPeavirbUwlPO+TqFiQpCSxA+7gHbSKz7eijSIf24g8/3W7RuArELKrTg9rvDpQfiJv5agQOPG0Lh2x4AI8hcUYx49lfyxgpCiwF+yC36b5KXvFaPhZgjlr8MqwExY5kFifqp7w7CW0Bzpri74v6utQJ/XAeo2oA1VI60MX9c2vp+LTj02k5W11JjfBPGH8XMjiry+654EieZu/eLk66sC4bl9f7mH5c2iHrBteTc5w+OdSi9yqOrJkg/KEp2OkAmbxSVVlUAjKua7CPbyTkJOkuVmgN5D08UkB8h0dGjAHMqzPP/AKiy8x6ieAcnAAAAAElFTkSuQmCC')
}

nav li a:visited {
  color: #FF0162;
}

pre{
  display: block;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3N0eWxlc2hlZXRzX3NvdXJjZS9pZGVudGl0eS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsK0RBQStEOztBQUUvRDtFQUNFLG1DQUFtQztFQUNuQyxpQkFBaUIsQ0FBQyxVQUFVO0NBQzdCOztBQUVEO0VBQ0UsaUJBQWlCLEVBQUUsd0JBQXdCO0NBQzVDOztBQUVEO0VBQ0U7O2lCQUVlO0VBQ2Y7cUJBQ21CO0NBQ3BCOztBQUVELGdCQUFnQjs7QUFFaEIsV0FBVztBQUNYO0VBQ0UsbUJBQW1CLENBQUMsYUFBYTtFQUNqQyxrQkFBa0IsQ0FBQyxTQUFTO0VBQzVCLGlCQUFpQjtFQUNqQixvQkFBb0I7O0VBRXBCLGtCQUFrQjtFQUNsQixlQUFlO0NBQ2hCOztBQUVEO0VBQ0UsbUJBQW1CO0VBQ25CLGtCQUFrQixDQUFDLFdBQVc7RUFDOUIsaUJBQWlCLEVBQUUsbURBQW1EO0VBQ3RFLG9CQUFvQjtFQUNwQixrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxtQkFBbUI7RUFDbkIsa0JBQWtCO0VBQ2xCLG9CQUFvQjtDQUNyQjs7QUFFRDtFQUNFLGdCQUFnQjtFQUNoQixrQkFBa0I7RUFDbEIsa0JBQWtCO0NBQ25COztBQUVEO0VBQ0UsbUJBQW1CLENBQUMsYUFBYTtDQUNsQzs7QUFFRDtFQUNFLGVBQWU7RUFDZixrQkFBa0IsQ0FBQyxhQUFhO0NBQ2pDOztBQUVELGtCQUFrQjtBQUNsQjtFQUNFLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFBaEIsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixtQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSxnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLGtCQUFrQjtDQUNuQjs7QUFFRDtFQUNFLHdDQUF3QztFQUN4QyxnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLDBCQUEwQjtDQUMzQjs7QUFFRCxxQkFBcUI7QUFDckI7RUFDRSxnQkFBZ0I7RUFDaEIsbUJBQW1CO0NBQ3BCOztBQUVEO0VBQ0Usd0NBQXdDO0VBQ3hDLG1CQUFtQjtFQUNuQixrQkFBa0I7RUFDbEIsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQiw4QkFBOEI7RUFDOUIsaUNBQWlDO0NBQ2xDOztBQUVELFNBQVM7QUFDVDtFQUNFLG9DQUFvQztFQUNwQyxtQkFBbUI7RUFDbkIsbUJBQW1CO0VBQW5CLG1CQUFtQjtDQUNwQjs7QUFFRDtFQUNFLG1CQUFtQjtFQUNuQix1Q0FBdUM7RUFDdkMsd0NBQXdDO0VBQ3hDLHdDQUF3QztFQUN4QyxnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQWhCLGdCQUFnQjtFQUNoQixrQkFBa0I7RUFDbEIsZUFBZTtFQUNmLHdCQUF3QjtFQUN4Qiw0QkFBNEI7RUFDNUIsOEJBQThCO0VBQzlCLFlBQVk7RUFDWixZQUFZO0VBQVosWUFBWTtFQUNaLGFBQWE7RUFDYixhQUFlO0VBQWYsZUFBZTtFQUNmLG1CQUFtQjtFQUNuQixtQkFBbUI7RUFDbkIsbUJBQXFCO0VBQXJCLHFCQUFxQjtDQUN0Qjs7QUFFRDtFQUNFLHNCQUFzQjtFQUN0QixpQkFBaUI7RUFDakIsaUJBQW9CO0VBQXBCLG9CQUFvQjtFQUNwQixhQUFhO0VBQ2IsYUFBYTtFQUFiLGFBQWE7Q0FDZDs7QUFFRDtFQUNFLGtCQUFrQjtFQUNsQixZQUFZO0VBQ1osZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUFoQixnQkFBZ0I7RUFDaEIsYUFBYTtFQUNiLGFBQWE7RUFBYixhQUFhO0VBQ2IsaUJBQWlCO0VBQ2pCLGlCQUFvQjtFQUFwQixvQkFBb0I7RUFDcEIsbUJBQW1CO0NBQ3BCO0FBQ0Q7RUFDRSxpQkFBaUI7RUFDakIsc0JBQXNCO0VBQ3RCLGtCQUFrQjtDQUNuQjtBQUNEO0VBQ0UsMEJBQTBCO0NBQzNCOztBQUVELFNBQVM7QUFDVDtFQUNFLG1DQUFtQztDQUNwQzs7QUFFRDtFQUNFLDZCQUE2QjtDQUM5Qjs7QUFFRCx3QkFBd0I7O0FBRXhCO0VBQ0UsYUFBYTtFQUNiLDJCQUEyQjtFQUMzQix1Q0FBdUM7VUFDL0IsK0JBQStCO0NBQ3hDOztBQUVEO0VBQ0Uscy9CQUFzL0I7Q0FDdi9COztBQUVEO0VBQ0UsZUFBZTtDQUNoQjs7QUFFRDtFQUNFLGVBQWU7Q0FDaEIiLCJmaWxlIjoiaWRlbnRpdHkuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogSWRlbnRpdHkuY3NzIC0gbmF0aXZlIGh0bWwgZWxlbWVudHMgb25seSwgbm8gY2xhc3Mgb3IgaWRzICovXG5cbmh0bWx7XG4gIGZvbnQtZmFtaWx5OiAnUG9wcGlucycsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogIDIwcHg7IC8qIDE1cHQgKi9cbn1cblxuYm9keXtcbiAgbGluZS1oZWlnaHQ6IDEuNTsgIC8qID09IDMwcHggPT0gMS41IHJlbSAqL1xufVxuXG5zZWN0aW9uLC5zZWN0aW9ue1xuICAvKm1hcmdpbi1sZWZ0OiAgMTVweDtcbiAgbWFyZ2luLXJpZ2h0OiAxNXB4O1xuICBtYXJnaW46IGF1dG87Ki9cbiAgLyptYXgtd2lkdGg6IDY2MHB4O1xuICBtYXgtd2lkdGg6IDMzcmVtOyovXG59XG5cbi8qIFR5cG9ncmFwaHkgKi9cblxuLypIRUFERVJTKi9cbmgxIHtcbiAgZm9udC1zaXplOiAyLjM2OWVtOyAvKiA0Ny4zN3B4ICovXG4gIGxpbmUtaGVpZ2h0OiA2MHB4OyAvKiAybGggKi9cbiAgbWFyZ2luLXRvcDogMzBweDtcbiAgbWFyZ2luLWJvdHRvbTogMzBweDtcblxuICBmb250LXdlaWdodDogYm9sZDtcbiAgY29sb3I6ICNGRjAxNjI7XG59XG5cbmgyIHtcbiAgZm9udC1zaXplOiAyNi42NnB4O1xuICBsaW5lLWhlaWdodDogMzZweDsgLyogMS41bGggKi9cbiAgbWFyZ2luLXRvcDogMzBweDsgIC8qIHRlYWNoaW5nIHRoaXMgZm9udCBzaXplIHdoZXJlIHRoZSBiYXNlbGluZSBpcyAqL1xuICBtYXJnaW4tYm90dG9tOiAxNXB4O1xuICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuaDMge1xuICBmb250LXNpemU6IDI2LjY2cHg7XG4gIGxpbmUtaGVpZ2h0OiA0NXB4O1xuICBmb250LXdlaWdodDogbm9ybWFsO1xufVxuXG5oNCB7XG4gIGZvbnQtc2l6ZTogMjBweDtcbiAgbGluZS1oZWlnaHQ6IDMwcHg7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuXG5oNSB7XG4gIGZvbnQtc2l6ZTogMS43NzdlbTsgLyogMzUuNTRweCAqL1xufVxuXG5oNiB7XG4gIGZvbnQtc2l6ZTogMWVtO1xuICBmb250LXdlaWdodDogYm9sZDsgLyogMzUuNTRweCAqL1xufVxuXG4vKkxPR0lDQUwgTUFSS1VQKi9cbmVtIHtcbiAgZm9udC1zaXplOiAyMHB4O1xuICBmb250LXNpemU6IDFyZW07XG4gIGxpbmUtaGVpZ2h0OiAzMHB4O1xuICBmb250LXN0eWxlOiBpdGFsaWM7XG59XG5cbnN0cm9uZyB7XG4gIGZvbnQtc2l6ZTogMjBweDtcbiAgbGluZS1oZWlnaHQ6IDMwcHg7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuXG5jb2RlIHtcbiAgZm9udC1mYW1pbHk6ICdBbm9ueW1vdXMgUHJvJywgbW9ub3NwYWNlO1xuICBmb250LXNpemU6IDEwcHg7XG4gIGxpbmUtaGVpZ2h0OiAzMHB4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjRjFFRkYyO1xufVxuXG4vKkdST1VQSU5HIEVMRU1FTlRTKi9cbnAge1xuICBtYXJnaW4tdG9wOiA1cHg7XG4gIG1hcmdpbi1ib3R0b206IDVweDtcbn1cblxuYmxvY2txdW90ZSB7XG4gIGZvbnQtZmFtaWx5OiAnQW5vbnltb3VzIFBybycsIG1vbm9zcGFjZTtcbiAgZm9udC1zaXplOiAyNi42NnB4O1xuICBsaW5lLWhlaWdodDogMzBweDtcbiAgY29sb3I6ICNGRjAxNjI7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xuICBwYWRkaW5nOiAyMi41cHggMCAzMHB4IDIyLjVweDtcbiAgYm9yZGVyLWxlZnQ6IHNvbGlkIHRoaWNrICNGRjAxNjI7XG59XG5cbi8qTElTVFMqL1xub2wge1xuICBjb3VudGVyLXJlc2V0OiBwcmltYXJ5LWxpc3QtY291bnRlcjtcbiAgcGFkZGluZy1sZWZ0OiA0MHB4O1xuICBwYWRkaW5nLWxlZnQ6IDJyZW07XG59XG5cbm9sPmxpOmJlZm9yZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgY29udGVudDogY291bnRlcihwcmltYXJ5LWxpc3QtY291bnRlcik7XG4gIGNvdW50ZXItaW5jcmVtZW50OiBwcmltYXJ5LWxpc3QtY291bnRlcjtcbiAgZm9udC1mYW1pbHk6ICdBbm9ueW1vdXMgUHJvJywgbW9ub3NwYWNlO1xuICBmb250LXNpemU6IDIwcHg7XG4gIGZvbnQtc2l6ZTogMXJlbTtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGNvbG9yOiAjRkYwMTYyO1xuICBib3JkZXItcmlnaHQ6IHNvbGlkIDJweDtcbiAgYm9yZGVyLXJpZ2h0LWNvbG9yOiAjRkYwMTYyO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB0cmFuc3BhcmVudDtcbiAgd2lkdGg6IDIwcHg7XG4gIHdpZHRoOiAxcmVtO1xuICBoZWlnaHQ6IDMwcHg7XG4gIGhlaWdodDogMS41cmVtO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIG1hcmdpbi1sZWZ0OiAtNTBweDtcbiAgbWFyZ2luLWxlZnQ6IC0yLjVyZW07XG59XG5cbm9sPmxpIHtcbiAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xuICBwYWRkaW5nLXRvcDogM3B4O1xuICBwYWRkaW5nLXRvcDogLjE1cmVtO1xuICBtYXJnaW46IDIwcHg7XG4gIG1hcmdpbjogMXJlbTtcbn1cblxudWw+bGkge1xuICBsaXN0LXN0eWxlOiB1bnNldDtcbiAgY29sb3I6YmxhY2s7XG4gIGZvbnQtc2l6ZTogMjBweDtcbiAgZm9udC1zaXplOiAxcmVtO1xuICBtYXJnaW46IDIwcHg7XG4gIG1hcmdpbjogMXJlbTtcbiAgcGFkZGluZy10b3A6IDNweDtcbiAgcGFkZGluZy10b3A6IC4xNXJlbTtcbiAgbWFyZ2luLWxlZnQ6IC0zMHB4O1xufVxudWwuYnVsbGV0IHtcbiAgbGlzdC1zdHlsZTogZGlzYztcbiAgbGlzdC1zdHlsZS10eXBlOiBkaXNjO1xuICBtYXJnaW4tbGVmdDogMTVweDtcbn1cbnVsLmJ1bGxldDpiZWZvcmUge1xuICAvKmJhY2tncm91bmQtY29sb3I6IHJlZDsqL1xufVxuXG4vKkZPUk1TKi9cbmlucHV0LmxhYmVse1xuICBib3JkZXItc3R5bGU6IG5vbmUgbm9uZSBzb2xpZCBub25lO1xufVxuXG5pbnB1dDpmb2N1cyB7XG4gIGJvcmRlci1ib3R0b20tY29sb3I6ICM3RDFFRjA7XG59XG5cbi8qSU5URVJBQ1RJVkUgRUxFTUVOVFMqL1xuXG5hLCBhOnZpc2l0ZWR7XG4gIGNvbG9yOiBibGFjaztcbiAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XG4gIC13ZWJraXQtdGV4dC1kZWNvcmF0aW9uLWNvbG9yOiAjMUVGMEU2O1xuICAgICAgICAgIHRleHQtZGVjb3JhdGlvbi1jb2xvcjogIzFFRjBFNjtcbn1cblxuYVtocmVmIF49IFwiaHR0cFwiXTphZnRlciB7XG4gIGNvbnRlbnQ6IFwiIFwiIHVybCgnZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFCVUFBQUFUQ0FZQUFBQi9Ua2FMQUFBQUFYTlNSMElBcnM0YzZRQUFBcE5KUkVGVU9CR2RsRTFNRkRFVXgvczZzN3RsUDREMUE1V0RNU0V4ZmlYR0dJd2FQUmlNTWFoUmpDZEZFSXk0SEVUQ1VaRWdhdURpRVQzSVJiMXk4QU5qQ0VwRXZhZ25FaE1TdVNFaGFHRDQ3TzdNemt4cnU4bXNReGQyalUwbWZlLzEvMzV0WDZjRjlCK3RJN1hZOXl4Tkd4bm5vS1lmMUVNL2RSbXNXVm9xSzhYT0F4T3hIY0xWWkV5b2dVbkQxN2Jqd0doWFVYRmlNOVlHNG9BYlpybWJBNTNtYmhtMEpSY1BEenVwRVlPNWVnUXd5c3ppQS9uTlU0R2ltWjV3eVVZWmUyUXRYM3hpMGVlenpNVit6VFpOdDZCbWVXWnl6SFhLYjVMWTNVUXcvRkFJTEw5SXNWMkF2eHRvb01iMzk3YTUyNi9KUUhjdFRMTmplbWkwTnhMZjV4OHNaRitseHVDUWJaNVFkUktLbHptREFJYmY2bUErdjVFYWJ6MmdLQmx2SXRHWDY3SEd2WndWOWZDQytmb3IxSGp6empaUFNvMEVKa2owVmpzcFB0ZEtvazBTVEFEY2ZPZVN3NjZueHNDd2JWWjd3R1lTYTI4SlJYcWtYeCtNOVBVN3lVWEtlQlJ0blovaXJhbjV3UnlDRXJoTWpWZFNLNytkNGh4NkxYcEhrV1RkZjFycEpXcThHTEhOTXpKTGJybUZ4THFhUTVGN1dZcGlGS3hwTFozdC8yU2JaejFnSzRuZEY4RE9QZWF2aXJiVXdsUE8rVHFGaVFwQ1N4QSs3Z0hiU0t6N2VpalNJZjI0ZzgvM1c3UnVBckVMS3JUZzlydkRwUWZpSnY1YWdRT1BHMExoMng0QUk4aGNVWXg0OWxmeXhncENpd0YreUMzNmI1S1h2RmFQaFpnamxyOE1xd0V4WTVrRmlmcXA3dzdDVzBCenByaTc0djZ1dFFKL1hBZW8yb0ExVkk2ME1YOWMydnArTFRqMDJrNVcxMUpqZkJQR0g4WE1qaXJ5KzY1NEVpZVp1L2VMazY2c0M0Ymw5ZjdtSDVjMmlIckJ0ZVRjNXcrT2RTaTl5cU9ySmtnL0tFcDJPa0FtYnhTVlZsVUFqS3VhN0NQYnlUa0pPa3VWbWdONUQwOFVrQjhoMGRHakFITXF6UFAvQUtpeTh4NmllQWNuQUFBQUFFbEZUa1N1UW1DQycpXG59XG5cbm5hdiBsaSBhOnZpc2l0ZWQge1xuICBjb2xvcjogI0ZGMDE2Mjtcbn1cblxucHJle1xuICBkaXNwbGF5OiBibG9jaztcbn1cbiJdfQ== */