#sponsors {
  h2 {
    font-size: 24pt;
    overflow: visible;
  }

  .sponsor-logos {
    img {
      margin: 25px;
    }
  }

  .sponsor-logo-ruby {
    width: 400px;
  }

  .sponsor-logo-emerald {
    width: 300px;
  }

  .sponsor-logo-sapphire {
    width: 250px;
  }

  .sponsor-logo-opal {
    width: 150px;
    display: block;
  }

  .opal-sponsors {
    h2 {
      margin: 0 0 16px 0;
    }
  }
}
