/* Variables.css - CSS Variables Only */

/*COLOURS*/
:root {
  --rb-red: #FF0162;
  --rb-purple: #7D1EF0;
  --rb-blue: #1EF0E6;
  --rb-pink: #EC008B;
  --rb-white: #fff;
  --rb-grey: #595859;
  --rb-grey80: #9B9B9B;
  --rb-grey50: #C9C7CA;
  --rb-grey30: #F1EFF2;
  --rb-dark-red:#800131;
  --rb-dark-red50: #D8055A;
  --rb-light-red:#FF3481;
  --rb-light-red50:#FF99C0;
}