<%= content_for :preheader do %>
Your password has been updated.
<% end %>

<h1>Hello <%= @resource.full_name %>!</h1>

<p>We're contacting you to notify you that your password for ruby.org.au (and thus, your Ruby Australia membership) has been changed. We expect you know this, because you made the change - but if it wasn't you, please let us know as soon as possible!</p>
