<%= content_for :preheader do %>
Reset your password for your Ruby Australia membership.
<% end %>

<h1>Hello <%= @resource.full_name %>!</h1>

<p>Someone (and we hope it was you!) has requested a link to change your password. You can do this through the link below.</p>

<p class="button"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email. Your password <strong>will not change</strong> until you access the link above and create a new one.</p>
