<div class="bg-white rounded-lg shadow p-6 <%= local_assigns[:class] %>">
  <% if local_assigns[:title] %>
    <h2 class="text-xl font-semibold mb-4"><%= title %></h2>
  <% end %>
  <%= yield %>
</div>
