.sponsor-logos {
  a {
    border: none !important;
  }

  img {
    margin: 25px;
  }

  .sponsor-logo-ruby {
    width: 500px;
  }

  .sponsor-logo-emerald {
    width: 400px;
  }

  .sponsor-logo-sapphire {
    width: 325px;
  }

  .sponsor-logo-opal {
    width: 275px;
    height: auto;
  }

  .sponsor-logo-amber {
    width: 225px;
  }

  .opal-sponsors {
    h2 {
      margin: 0 0 16px 0;
    }
  }

  .sponsor-logo-standalone {
    width: 400px;
  }
}

.sponsor-standalone {
  h1 a {
    @apply text-pink-darkest no-underline text-2xl;
  }
}
