<div class="w-100 flex flex-column bg-rb-red">
  <section class="w-100 pl4-ns pt4-ns pr4-ns pb4-ns">
    <div class="fl w-90 pl4-ns">
      <h2 class="tl ma0 white">
        Contributing to the site
      </h2>
      <p class="white">
        The site's source is hosted on GitHub:
        <%= link_to "github.com/rubyaustralia/ruby_au",
                    "https://github.com/rubyaustralia/ruby_au",
                    class: "white" %>.
        Please refer to the
        <%= link_to "README", "https://github.com/rubyaustralia/ruby_au#readme", class: "white" %>
        there for more details,
        or join our slack channel
        <%= link_to "here", "https://ruby-au-join.herokuapp.com/", class: "white" %>
      </p>
    </div>
  </section>
</div>
