<div class="w-100 flex flex-column bg-rb-red">
  <!-- <span class="f2 pl3 rb-purple pointer:hover dn-m dn-l" id="openNav">&#9776;</span> -->
  <section class="w-100 pl4-ns pt4-ns pr4-ns pb4-ns">
    <div class="fl w-10">
      <%= image_tag "square-logo-white.png" %>
    </div>
    <div class="fl w-90 pl4-ns">
      <h1 class="tl ma0 pl2 white">
        Ruby Australia is a friendly community of coders who meet semi-regularly, have fun, learn from each other and refine our craft.
      </h1>
    </div>
  </section>
</div>
